
<div class="form__group">
    <label class="form__label">
        <span ng-bind-html="parseQuestionText(question.Question)"></span> <abbr title="Required" ng-if="question.IsRequired">*</abbr>
    </label>
    <div class="form__control">
        <div class="control-wrapper selectmenu">
            <select class="form-control"
                    ng-model="question.Level1Answers[0].IntAnswer"
                    ng-options="item.Id as item.Answer for item in question.Level1Options"></select>
        </div>
    </div>
</div>
