<div class="form__group form__group--radio-inline">
    <label class="form__label" for="allParticipantsCompletedTraining">
        {{question.Question}} <abbr title="Required" ng-if="question.IsRequired">*</abbr>
    </label>
    <div class="form__control">
        <div class="form-item" ng-repeat="option in question.Level1Options">
            <input id="option-{{option.Id}}" type="radio" class="k-valid"
                   name="answer-{{question.Id}}"
                   ng-value="!option.TriggersNextLevel"
                   ng-model="question.Level1Answers[0].BoolAnswer"
                   ng-change="triggerChildLevelAnswers(question.Level2Answers, !option.TriggersNextLevel)" />
            <label for="option-{{option.Id}}">{{option.Answer}}</label>
        </div>
    </div>
</div>

<div class="block--completion-report">
    <p ng-bind-html="question.Description"></p>
    <div class="table-wrapper">
        <pager ng-filter="getParticipants" ng-local="true">
            <table class="form__group--data-grid">
                <thead>
                    <tr>
                        <th ng-repeat="heading in question.TableHeadings" style="min-width: 170px;">
                            {{heading}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="participant in $parent.$ctrl.ngItems" ng-show="$parent.$parent.$ctrl.showPage($index)">
                        <td class="participant-name-panel">
                            <div class="form__group">
                                <label class="form__label">{{participant.FirstName}} {{participant.LastName}}</label>
                            </div>
                            <div class="form__control">
                                <input type="checkbox" class="input--medium" id="select-participant-{{question.Id}}-{{participant.Id}}"
                                       ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer"
                                       ng-change="triggerParentLevelAnswer(question.Level1Answers[0], getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer)" />
                                <label class="form__label" for="select-participant-{{question.Id}}-{{participant.Id}}">Not Employed</label>
                            </div>
                            <div ng-if="!getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer && question.HasParticipantOutcomeReporting">
                                <a class="link" ng-click="applyToAllEmployed(participant, question.Level2Answers)">Apply to all employed</a>
                            </div>
                        </td>
                        <td>
                            <div ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer || !question.HasParticipantOutcomeReporting">
                                <div class="form__group">
                                    <div class="form__control select--medium-large" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer">
                                        <div class="control-wrapper selectmenu">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).IntAnswer"
                                                    ng-options="item.Id as item.Answer for item in question.Level2Options"></select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Appears only when 'Other' is selected in dropdown above -->
                                <div class="margin-top-10" ng-show="answerDisplayOther(question.Level2Options, getParticipantAnswer(question.Level2Answers, participant.Id).IntAnswer)">
                                    <textarea type="text" class="input--full copy-box--small"
                                              ng-show="getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer"
                                              ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).StringAnswer"></textarea>
                                </div>
                            </div>
                            <div ng-if="!getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer && question.HasParticipantOutcomeReporting">
                                <div class="form__group">
                                    <div class="form__control select--medium-large">
                                        <div class="control-wrapper selectmenu">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Noc1Id"
                                                    ng-options="item.Key as item.Value for item in participant.nocs1"
                                                    ng-change="changeNOC(participant, question.Level2Answers, 2)">
                                                <option value="">&lt;Participant NOC&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Noc1Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Noc2Id"
                                                    ng-options="item.Key as item.Value for item in participant.nocs2"
                                                    ng-change="changeNOC(participant, question.Level2Answers, 3)">
                                                <option value="">&lt;Participant NOC&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Noc2Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Noc3Id"
                                                    ng-options="item.Key as item.Value for item in participant.nocs3"
                                                    ng-change="changeNOC(participant, question.Level2Answers, 4)">
                                                <option value="">&lt;Participant NOC&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Noc3Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Noc4Id"
                                                    ng-options="item.Key as item.Value for item in participant.nocs4">
                                                <option value="">&lt;Participant NOC&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper margin-top-10">
                                            <input type="text" class="input--medium-large" placeholder="&lt;Employer Name&gt;"
                                                   ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).EmployerName" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="!getParticipantAnswer(question.Level2Answers, participant.Id).BoolAnswer && question.HasParticipantOutcomeReporting">
                                <div class="form__group">
                                    <div class="form__control select--medium-large">
                                        <div class="control-wrapper selectmenu">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Naics1Id"
                                                    ng-options="item.Key as item.Value for item in participant.naics1"
                                                    ng-change="changeNAICS(participant, question.Level2Answers, 2)">
                                                <option value="">&lt;Employer NAICS&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Naics1Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Naics2Id"
                                                    ng-options="item.Key as item.Value for item in participant.naics2"
                                                    ng-change="changeNAICS(participant, question.Level2Answers, 3)">
                                                <option value="">&lt;Employer NAICS&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Naics2Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Naics3Id"
                                                    ng-options="item.Key as item.Value for item in participant.naics3"
                                                    ng-change="changeNAICS(participant, question.Level2Answers, 4)">
                                                <option value="">&lt;Employer NAICS&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Naics3Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Naics4Id"
                                                    ng-options="item.Key as item.Value for item in participant.naics4"
                                                    ng-change="changeNAICS(participant, question.Level2Answers, 5)">
                                                <option value="">&lt;Employer NAICS&gt;</option>
                                            </select>
                                        </div>
                                        <div class="control-wrapper selectmenu margin-top-10" ng-if="getParticipantAnswer(question.Level2Answers, participant.Id).Naics4Id">
                                            <select class="form-control"
                                                    ng-model="getParticipantAnswer(question.Level2Answers, participant.Id).Naics5Id"
                                                    ng-options="item.Key as item.Value for item in participant.naics5">
                                                <option value="">&lt;Employer NAICS&gt;</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </pager>
    </div>
</div>
