@using CJG.Web.External.Areas.Int.Controllers
@{
    ViewBag.Title = "Training Provider Grant File History";
}

<div ng-controller="TrainingProviderHistory" training-provider-id="@ViewBag.TrainingProviderId" class="page--training-provider-history">
    <div class="clearfix">
        @Html.ActionLink("Return", nameof(TrainingProviderInventoryController.TrainingProvidersView), typeof(TrainingProviderInventoryController), null, new { @class = "link--back" })

        <div class="row row--alert" ng-if="alert.message">
            <div class="alert alert--default" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
        </div>

        <div class="clearfix">
            <h2>Training Provider Grant File History</h2>
        </div>
        <hr />
        <h1 id="trainingProviderName">{{model.TrainingProviderInventoryName}}</h1>
        <div class="form__group">
            <div class="form__label">
                Acronym:
            </div>
            <div class="form__control">
                {{model.TrainingProviderInventoryAcronym}}
            </div>
        </div>
        <div class="form__group block--training-provider-history__note">
            <label class="form__label">
                Notes:
            </label>
            <div class="form__control padding-bottom-20">
                <textarea ng-model="model.TrainingProviderNotes"
                          ng-class="{'has-error': $ctrl.getError()}"
                          maxlength="2000" class="input--full copy-box--med"></textarea>
                <span class="char-count-status">{{(2000 - model.TrainingProviderNotes.length)}} chars left</span>
            </div>
            <button type="button" class="pull-left btn btn--secondary" ng-disabled="checkNotesDiff()" ng-click="resetNote()">Reset Notes</button>
            <button type="button" class="pull-right btn btn--primary" ng-disabled="checkNotesDiff()" ng-click="updateNote()">Save Notes</button>
        </div>
    </div>

    <hr />

    <div class="wrapper--intake-queue-datatable">
        <pager ng-if="model.TrainingProviderInventoryId" ng-filter="getTrainingProviderHistory" ng-page-size="[10, 25, 50, 100]">
            <table class="form__group--data-grid">
                <thead>
                    <tr>
                        <th class="no-border" colspan="5"></th>
                        <th class="data-grid-header" colspan="3">
                            Requested and Approved
                        </th>
                    </tr>
                    <tr>
                        <th class="data-grid-sub-header">File No.</th>
                        <th class="data-grid-sub-header">Status</th>
                        <th class="data-grid-sub-header">Applicant</th>
                        <th class="data-grid-sub-header">Training Program Title</th>
                        <th class="data-grid-sub-header">Start Date</th>
                        <th class="data-grid-sub-header">No. of Part.</th>
                        <th class="data-grid-sub-header">Total Gov Contribution</th>
                        <th class="data-grid-sub-header">Avg Cost per Part.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="application in $parent.$ctrl.ngItems">
                        <td><a href="/Int/Application/Details/View/{{application.Id}}">{{application.FileNumber}}</a></td>
                        <td>{{application.CurrentStatus}}</td>
                        <td>{{application.ApplicantName}}</td>
                        <td>{{application.TrainingProgramTitle}}</td>
                        <td>{{application.StartDate}}</td>
                        <td class="data-grid-right-data" ng-bind-html="application.NumberOfParticipants"></td>
                        <td class="data-grid-right-data" ng-bind-html="application.TotalGovernmentContribution"></td>
                        <td class="data-grid-right-data" ng-bind-html="application.AverageCostPerParticipant"></td>
                    </tr>
                </tbody>
            </table>
        </pager>

        <div ng-if="model.AllowDeleteTrainingProvider">
            <a class="link" ng-click="deleteProvider()">Delete training provider</a>
        </div>
    </div>
</div>
