<div ng-controller="ProgramDescription" ng-if="grantFile.ProgramType === 2">
	<span class="panel-section-item">
		<span class="panel-section-title" ng-click="toggle($event)">Program Description</span>
		<span class="panel-section-buttons">
			<span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
			<section-edit-buttons ng-model="section.editing" ng-if="grantFile.EditProgramDescription"></section-edit-buttons>
			<span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>
		</span>
	</span>
	<div class="panel-section-content" ng-if="section.show">
		<div class="form form--2-col">
			<div class="col-50p">
				<div class="form__group">
					<div class="form__label">Program Description:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<textarea maxlength="300" ng-model="model.Description" class="input--full textarea--short" ng-validation ng-editing></textarea>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Applicant Type:</div>
					<div class="form__control">
						<div class="control-wrapper selectmenu">
							<select ng-model="model.ApplicantOrganizationTypeId" ng-options="item.Key as item.Value for item in applicantOrganizationTypes" class="input--full" ng-validation ng-editing></select>
						</div>
					</div>
				</div>
				<div class="form__group" ng-if="model.ApplicantOrganizationTypeId == 21">
					<div class="form__label">Enter Applicant Other Type:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<input ng-model="model.ApplicantOrganizationTypeInfo" class="input--full" maxlength="250" ng-validation ng-editing />
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Number of Participants:</div>
					<div class="form__control">
						Requested: {{model.NumberOfParticipants}}
						<span ng-if="model.GrantApplication.ApplicationStateExternal >= @((int)CJG.Core.Entities.ApplicationStateExternal.AcceptGrantAgreement)">; Agreed: {{model.NumberOfParticipantsAgreed}}</span>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Participant Employment Status:</div>
					<div class="form__control">
						<div class="control-wrapper selectmenu">
							<select ng-model="model.ParticipantEmploymentStatusId" ng-options="item.Key as item.Value for item in participantEmploymentStatuses" class="input--full" ng-validation ng-editing></select>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Vulnerable:</div>
					<div class="form__control">
						<div class="form__group--edit-wrapper">
							<div class="control-wrapper">
								<ul style="list-style:none" ng-validation="errors.VulnerableGroups">
									<li class="form-control" ng-repeat="item in vulnerableGroups">
										<input type="checkbox" id="vulnerable-group-{{$index}}" ng-model="item.isChecked" ng-item="item" ng-value="item.Key" ng-selected="model.SelectedVulnerableGroupIds" ng-editing />
										<label for="vulnerable-group-{{$index}}">{{item.Value}}</label>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Underrepresented:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<ul style="list-style:none" ng-validation="errors.UnderRepresentedPopulations">
								<li class="form-control" ng-repeat="item in underRepresentedPopulations">
									<input type="checkbox" id="underrepresented-{{$index}}" ng-model="item.isChecked" ng-item="item" ng-value="item.Key" ng-selected="model.SelectedUnderRepresentedPopulationIds" ng-editing />
									<label for="underrepresented-{{$index}}">{{item.Value}}</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Number of supporting employers:</div>
					<div class="form__control">
						<input ng-model="model.SupportingEmployers" class="input--x-small" maxlength="3" ng-number ng-validation ng-editing />
					</div>
				</div>
			</div>
				
			<div class="col-50p">
				<div class="form__group">
					<div class="form__label">NAICS code for the participant employment sector target:</div>
					<div class="form__control" ng-if="section.editing">
						<div class="control-wrapper selectmenu input--full">
							<select ng-model="model.Naics1Id" ng-options="item.Key as item.Value for item in naics1" class="input--full" ng-change="changeNAICS(2, model.Naics1Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Naics1Id">
							<select ng-model="model.Naics2Id" ng-options="item.Key as item.Value for item in programNAICS2" class="input--full" ng-change="changeNAICS(3, model.Naics2Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Naics2Id">
							<select ng-model="model.Naics3Id" ng-options="item.Key as item.Value for item in programNAICS3" class="input--full" ng-change="changeNAICS(4, model.Naics3Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Naics3Id">
							<select ng-model="model.Naics4Id" ng-options="item.Key as item.Value for item in programNAICS4" class="input--full" ng-change="changeNAICS(5, model.Naics4Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Naics4Id">
							<select ng-model="model.Naics5Id" ng-options="item.Key as item.Value for item in programNAICS5" class="input--full" ng-validation></select>
						</div>
					</div>
					<div class="form__control" ng-if="!section.editing">
						<text>{{section.selectedNAICS}}</text>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">NOC for participant occupation target:</div>
					<div class="form__control" ng-if="section.editing">
						<div class="control-wrapper selectmenu input--full">
							<select ng-model="model.Noc1Id" ng-options="item.Key as item.Value for item in nocs1" class="input--full" ng-change="changeNOC(2, model.Noc1Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Noc1Id">
							<select ng-model="model.Noc2Id" ng-options="item.Key as item.Value for item in programNOCs2" class="input--full" ng-change="changeNOC(3, model.Noc2Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Noc2Id">
							<select ng-model="model.Noc3Id" ng-options="item.Key as item.Value for item in programNOCs3" class="input--full" ng-change="changeNOC(4, model.Noc3Id)" ng-validation></select>
						</div>
						<div class="control-wrapper selectmenu input--full" ng-if="model.Noc3Id">
							<select ng-model="model.Noc4Id" ng-options="item.Key as item.Value for item in programNOCs4" class="input--full" ng-validation></select>
						</div>
					</div>
					<div class="form__control" ng-if="!section.editing">
						<text>{{section.selectedNOC}}</text>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Community Names:</div>
					<div class="form__control" ng-if="section.editing">
						<div class="control-wrapper">
							<input ng-model="section.searchCommunities" class="input--full" />
						</div>
						<div class="control-wrapper dropdown-padding-top">
							<select ng-model="model.SelectedCommunityIds" ng-options="item.Key as item.Value for item in communities | searchCommunities: model.SelectedCommunityIds: section.searchCommunities" class="input--full" multiple size="15" ng-validation="errors.Communities" ng-editing></select>
						</div>
					</div>
					<div class="form__control" ng-if="!section.editing">
						<div ng-repeat="community in section.selectedCommunities"><label>{{community}}</label></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>