<div class="form well">
    <div>
        <div class="form__group">
            <div class="form__control">
                <div ng-class="{'has-error': errors.EmailBody}">
                    <textarea ng-model="model.Template.EmailBody" ui-tinymce="tinymceOptions"></textarea>
                </div>
                <validation ng-model="errors.EmailBody"></validation>
            </div>
        </div>
    </div>
</div>
