<div>
    <div class="dialog-header">
        <h3>{{ngDialogData.title}}</h3>
    </div>
    <div class="dialog-content">
        <div class="modal-content">
            <div id="select-training-provider" class="form well">
                <div>
                    <div class="row row--alert" ng-if="alert.message">
                        <div class="alert alert--default" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message">
                        </div>
                    </div>
                    <div>
                        <div class="notice notice--icon" ng-if="!ngDialogData.model.provider.Id">
                            <p>You are creating or editing the master list of training providers; make sure you have searched for the training provider before you create a new training provider.</p>
                        </div>

                        <div class="form__group form__group--radio-inline" ng-if="ngDialogData.model.provider.Id && ngDialogData.model.admin">
                            <label class="form__label" for="IsActive">Status <abbr title="Required">*</abbr></label>
                            <div class="form__control">
                                <div class="form-item" style="display: inline-block; width: auto;">
                                    <input id="option-active" type="radio" class="k-valid" ng-value="true" ng-model="ngDialogData.model.provider.IsActive" />
                                    <label for="option-active">Active</label>
                                </div>

                                <div class="form-item" style="display: inline-block; width: auto;">
                                    <input id="option-inactive" type="radio" class="k-valid" ng-value="false" ng-model="ngDialogData.model.provider.IsActive" />
                                    <label for="option-inactive">Inactive</label>
                                </div>
                            </div>
                        </div>

                        <div class="form__group" ng-if="ngDialogData.model.provider.Id">
                            <label class="form__label" for="TrainingProviderName">ID</label>
                            <div>{{ngDialogData.model.provider.Id}}</div>
                        </div>

                        <div class="form__group">
                            <label class="form__label" for="TrainingProviderName">Training Provider name <abbr title="Required">*</abbr></label>
                            <div class="form__control">
                                <input id="TrainingProviderName" class="input--full" maxlength="250" ng-model="ngDialogData.model.provider.Name" ng-validation />
                                <p class="field-help">This is the full, legal business name. E.g., Training Associates Ltd.</p>
                            </div>
                        </div>

                        <div class="form__group">
                            <label class="form__label" for="TrainingProviderAcronym">Acronym</label>
                            <div class="form__control">
                                <input id="TrainingProviderAcronym" class="input--full" maxlength="10" ng-model="ngDialogData.model.provider.Acronym" />
                            </div>
                        </div>

                        <div class="form__group">
                            <label class="form__label form__label--align-top" for="TrainingProviderNotes">Notes</label>
                            <div class="form__control">
                                <textarea id="TrainingProviderNotes" class="input--full" ng-model="ngDialogData.model.provider.Notes" ng-class="{'has-error': $ctrl.getError()}" maxlength="2000" wrap="hard"></textarea>
                                <span class="char-count-status">{{(2000 - ngDialogData.model.provider.Notes.length)}} chars left</span>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn--primary" ng-if="!ngDialogData.model.provider.Id" ng-click="saveProvider()">Add</button>
                            <button class="btn btn--primary" ng-if="ngDialogData.model.provider.Id" ng-click="saveProvider()">Save</button>
                            <button class="btn btn--secondary" ng-click="cancelProvider()">Cancel</button>
                            <button class="btn btn--primary btn--danger pull-right"
                                    ng-if="ngDialogData.model.provider.Id && ngDialogData.model.admin && !ngDialogData.model.provider.IsActive"
                                    ng-click="deleteProvider()">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
