@{
    ViewBag.Title = "Training Providers";
}

<div ng-controller="TrainingProviderInventoryList">
    <div class="form-section">
        <div>
            <h2 class="header__title">Training Providers</h2>
        </div>
    </div>

    <div class="details-block">
        <pager ng-if="model" ng-filter="getProviders" ng-page-size="[10, 25, 50, 100]" ng-risk-flag="true">
            <div class="form-table">
                <div class="form-table-heading">
                    <div class="form-table-cell">Risk</div>
                    <div class="form-table-cell">Training Provider</div>
                    <div class="form-table-cell">Acronym</div>
                    <div class="form-table-cell" ng-if="model.AdminUser">Status</div>
                    <div class="form-table-cell">Notes</div>
                    <div class="form-table-cell"></div>
                </div>
                <div class="form-table-row" ng-repeat="provider in $parent.$ctrl.ngItems">
                    <div class="form-table-cell" style="vertical-align: middle;"><img class="center" ng-if="provider.RiskFlag" src="../../../../images/icons/risk-flag.png" /></div>
                    <div class="form-table-cell"><div class="form-word-wrap"><a href="/Int/Training/Provider/History/View/{{provider.Id}}">{{provider.Name}}</a></div></div>
                    <div class="form-table-cell">{{provider.Acronym}}</div>
                    <div class="form-table-cell" ng-if="model.AdminUser">{{provider.IsActive ? "Active" : "Inactive"}}</div>
                    <div class="form-table-cell"><div class="form-word-wrap">{{provider.Notes}}</div></div>
                    <div class="form-table-cell"><button class="btn btn--secondary" ng-click="editProvider(provider)">Edit</button></div>
                </div>
            </div>
        </pager>
    </div>

    <div>
        <button class="btn btn--primary btn--forward js-btn-create" ng-click="addProvider()">Add Training Provider</button>
    </div>
</div>
