<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <CJG.Infrastructure.NotificationService.Properties.Settings>
      <setting name="EmailSenderTimeout" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>00:00:05</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>apps.smtp.gov.bc.ca</value>
      </setting>
      <setting name="DefaultSenderAddress" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>noreply.skillstraininggrants@gov.bc.ca</value>
      </setting>
      <setting name="DefaultSenderName" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>Skills Training Grants Support</value>
      </setting>
    </CJG.Infrastructure.NotificationService.Properties.Settings>
  </applicationSettings>
</configuration>