@using CJG.Core.Entities
@{
    ViewBag.Title = "Skills Training Grants";
}

@if (ViewData["_Notification"] != null)
{
    var notification = (NotificationQueue)ViewData["_Notification"];
    <div class="row">
        <div class="alert alert--success">
            <p>
                @notification?.AlertCaption
            </p>
        </div>
    </div>
}

<div class="row" ng-controller="ExternalHomeController">
    <div class="main">
        <div class="block--sponsor">
            <img src="/images/icons/logo--funding_partner.svg" alt="Funding Partners">
            <p class="text--small">Funding provided by the Government of Canada through the Workforce Development Agreement</p>
        </div>
        <div class="row--alert" ng-if="model.SummaryMessage">
            <div class="alert alert--default" ng-class="'alert--' + model.SummaryType" role="alert" ng-bind-html="model.SummaryMessage">
            </div>
        </div>

        <div ng-if="!grantPrograms">
            <h4>There are no new grant opportunities available at this time.</h4>
        </div>

        <div ng-repeat="program in grantPrograms" class="program-information-container">
            <h2>{{program.Name}}</h2>
            <div>
                <div class="program-action float-left">
                    <a class="btn btn--primary"
                       role="button"
                       href="/Ext/Application/Grant/Selection/View/0/{{program.Id}}"
                       ng-disabled="program.GrantOpenings.length == 0">Start New {{program.Name}} Application</a>
                </div>
                <div class="program-information float-left program-information-overwrite">
                    <p ng-bind-html="program.Message"></p>
                    <p ng-if="program.GrantOpenings.length != 0" class="program-information-openings" ng-class="!program.Message ? 'program-text-top': ''">
                        Current grant opportunities are for training starting
                        <text ng-repeat="openingTime in program.GrantOpenings">
                            <span ng-if="$index == 0 && program.GrantOpenings.length == 1">
                                between <span class="no-wrap">{{openingTime.StartDate}}</span> and <span class="no-wrap">{{openingTime.EndDate}}.</span>
                            </span>
                            <span ng-if="$index == 0 && program.GrantOpenings.length > 1">
                                between <span class="no-wrap">{{openingTime.StartDate}}</span> and <span class="no-wrap">{{openingTime.EndDate}},</span>
                            </span>

                            <span ng-if="$index != program.GrantOpenings.length - 1 && $index > 0">
                                or between <span class="no-wrap">{{openingTime.StartDate}}</span> and <span class="no-wrap">{{openingTime.EndDate}},</span>
                            </span>

                            <span ng-if="$index == program.GrantOpenings.length - 1 && program.GrantOpenings.length != 1">or between <span class="no-wrap">{{openingTime.StartDate}}</span> and <span class="no-wrap">{{openingTime.EndDate}}.</span></span>
                        </text>
                    </p>
                    <p ng-if="program.GrantOpenings.length == 0" ng-class="!program.Message ? 'program-text-top': ''">
                        There are no grant opportunities at this time.
                    </p>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div>
            <div class="grant-file-list" role="list">
                <h2>Your applications and claims</h2>
                <p>A list of your grant application files and their status is shown below.</p>
                <pager ng-filter="getApplications" ng-page-size="[6]" ng-page-header="false">
                    <div class="grant-file-list-item" role="listitem" ng-repeat="item in $parent.$ctrl.ngItems" data-id="{{item.Id}}">
                        <div class="grant-summary">
                            <h4>
                                <span class="grant-summary__filenbr" ng-if="item.FileNumber">{{item.FileNumber}}</span>
                                {{item.FileName}}
                                <span class="grant-summary__date" ng-if="item.ShowTrainingDate">

                                    <text>(start date </text>
                                    <span>{{item.TrainingProgramStartDate}})</span>
                                </span>
                            </h4>
                            <p class="grant-summary__filenbr"><b>{{item.GrantProgramName}} &#x2013; {{item.GrantStreamName}}</b></p>
                            <p class="grant-summary__date">
                                <text ng-if="item.ShowSubmittedDate">Date submitted: </text>
                                <span ng-if="item.ShowSubmittedDate">{{item.DateSubmitted}}</span>
                                <text ng-if="item.ShowGrantOpeningDate">Earliest submission date: </text>
                                <span ng-if="item.ShowGrantOpeningDate">{{item.GrantOpeningDate}}</span>
                                <span class="label label--acceptby" ng-if="item.ShowAgreementStartDate">
                                    Accept by {{item.AgreementStartDate}}
                                </span>
                            </p>
                        </div>

                        <div class="clearfix">
                            <text>
                                <span class="label" ng-class="'label--' + item.StatusCssClass">{{item.StatusText}}</span>
                            </text>
                            <div class="pull-right--md">
                                <a ng-if="item.ApplicationStateExternal == @((int)ApplicationStateExternal.Incomplete) || item.ApplicationStateExternal == @((int)ApplicationStateExternal.Complete)" ng-click="deleteApplication(item.Id, item.RowVersion)" class="btn btn--danger btn--mobile-full-width">Delete</a>
                                <a ng-if="item.ShowOverviewLink" ng-href="/Ext/Application/Overview/View/{{item.Id}}" class="btn btn--primary btn--mobile-full-width">Continue</a>
                                <a ng-if="item.ShowViewLink" ng-href="/Ext/Application/Details/View/{{item.Id}}" class="btn btn--primary btn--mobile-full-width">View</a>
                                <a ng-if="item.ShowReviewLink" ng-href="/Ext/Agreement/Review/View/{{item.Id}}" class="btn btn--primary btn--mobile-full-width">Continue</a>
                                <a ng-if="item.ShowContinueGrantFilesLink" ng-href="/Ext/Reporting/Grant/File/View/{{item.Id}}" class="btn btn--primary btn--mobile-full-width">Continue</a>
                                <a ng-if="item.ShowViewGrantFilesLink" ng-href="/Ext/Reporting/Grant/File/View/{{item.Id}}" class="btn btn--primary btn--mobile-full-width">View</a>
                            </div>
                        </div>
                    </div>
                </pager>
            </div>
        </div>
    </div>

    <div class="sidebar">
    </div>
</div>
