<div class="row" ng-controller="ClaimAttachmentsView" ng-claim-id="@ViewBag.ClaimId" ng-claim-version="@ViewBag.ClaimVersion">
    <div>
        <h2 style="text-transform: inherit;">{{model.Title}}</h2>
        <div ng-if="!model.IsWDAService">
            <p>
                Attach all receipts, paid invoices or other valid proof of payments that relate to the actual training costs you have entered for each
                eligible expense type. For each attachment, enter a description to identify what part of your claim it supports.
            </p>
            <p>Accepted file types: PDF, JPG, JPEG, PNG, GIF. Maximum file size is {{model.MaxUploadSize}} MB.</p>
        </div>
        <div ng-if="model.IsWDAService">
            <p>Your assessor may request you to attach documentation to support your claim.</p>
            <p>For each attachment, enter a description to identify what part of your claim it supports.</p>
            <p>Accepted file types: PDF, JPG, JPEG, PNG, GIF. Maximum file size is {{model.MaxUploadSize}} MB.</p>
        </div>
    </div>

    <div>
        <div class="form__group" ng-if="model.Attachments">
            <table style="width:100%;">
                <tr ng-repeat="attachment in model.Attachments">
                    <td style="width:10%;vertical-align:top">{{$index + 1}}</td>
                    <td style="width:60%;vertical-align:top;word-wrap: break-word;word-break: break-all;">
                        <a ng-if="attachment.Id" target="_blank" href="/Ext/Claim/Attachment/Download/{{model.Id}}/{{model.ClaimVersion}}/{{attachment.Id}}">{{attachment.FileName}}</a>
                        <span ng-if="!attachment.Id">{{attachment.FileName}}</span>
                        <br />{{attachment.Description}}
                    </td>
                    <td style="vertical-align:top">
                        <button class="btn btn--secondary pull-right margin-left-10" ng-click="removeAttachment($index)">Remove</button>
                        <button class="btn btn--secondary pull-right margin-left-10" ng-click="changeAttachment(attachment)">Change</button>
                    </td>
                </tr>
            </table>
        </div>
        <button ng-if="model.MaximumNumberOfAttachmentsAllowed > model.Attachments.length" class="btn btn--secondary" ng-click="addAttachment()" data-disableonsubmit="false">Add attachment</button>
    </div>
</div>
