@using CJG.Web.External.Areas.Ext.Controllers
    
<div ng-controller="ClaimAttachmentsView" ng-claim-id="@ViewBag.ClaimId" ng-claim-version="@ViewBag.ClaimVersion">
<div>
    <h2 class="text--uppercase">{{model.Title}}</h2>
    <div ng-if="!model.IsWDAService">
        <p>
            Attach all receipts, paid invoices or other valid proof of payments that support the costs you have entered for each eligible expense type. If you are unsure what is required to submit, please read the
            @Html.ActionLink("Reimbursement Guidelines", nameof(ApplicationAttachmentController.DownloadResource), typeof(ApplicationAttachmentController), new { filename = $"{ViewBag.GrantProgramCode}-reimbursement-guidelines", message = "guidelines" }, null).

        </p>

        <div class="notice notice--icon margin-top">
            <p>
                Employers are required to pay for the full cost of training. If receipts or invoices indicate that an employee paid for training, you must reimburse them in full, then have them complete and sign an Employer Reimbursement Verification Form and attach it to this claim.
            </p>
            <p>
                For all training delivered by private training institutions not certified by the Private Training Institutions Branch, employers must submit a copy of the front and back of a cashed cheque or include a financial statement to verify that payment for training was processed through your financial institution. Please redact any information on the statement that is not associated to this claim.
            </p>
        </div>
        <p style="font-style: italic;">
            For each attachment, enter a description to identify what part of your claim it supports (for example, type “Tuition” or “Mandatory student fees” in the description of each attachment).
        </p>

        <p>Accepted file types: PDF, JPG, JPEG, PNG, GIF. Maximum file size is {{model.MaxUploadSize}} MB.</p>


    </div>
    <div ng-if="model.IsWDAService">
        <p>Your assessor may request you to attach documentation to support your claim.</p>
        <p>For each attachment, enter a description to identify what part of your claim it supports.</p>
        <p>Accepted file types: PDF, JPG, JPEG, PNG, GIF. Maximum file size is {{model.MaxUploadSize}} MB.</p>
    </div>
</div>

<div>
    <div class="form__group" ng-if="model.Attachments.length != 0">
        <table style="width:100%;">
            <thead>
                <tr>
                    <th style="padding:5px 5px 5px 0;text-align:left; width:40%;" class="claim-title-font">Attachment</th>
                    <th style="padding:5px 5px 5px 0;text-align:left; width:40%;" class="claim-title-font">Description</th>
                    <th style="padding:5px 5px 5px 0;"></th>
                </tr>
            </thead>

            <tr ng-repeat="attachment in model.Attachments">
                <td style="padding:5px 5px 5px 0;width:40%;vertical-align:top;word-wrap: break-word;word-break: break-all;">
                    <a ng-if="attachment.Id" target="_blank" href="/Ext/Claim/Attachment/Download/{{model.Id}}/{{model.ClaimVersion}}/{{attachment.Id}}">{{attachment.FileName}}</a>
                    <span ng-if="!attachment.Id">{{attachment.FileName}}</span>
                </td>
                <td style="padding:5px 5px 5px 0;width:40%;vertical-align:top;word-wrap: break-word;word-break: break-all;">
                    {{attachment.Description}}
                </td>
                <td style="padding:5px 5px 5px 0;vertical-align:top">
                    <a ng-click="changeAttachment(attachment)">Edit</a>
                    /
                    <a ng-click="removeAttachment($index)">Remove</a>
                </td>
            </tr>
        </table>
    </div>
    <button ng-if="model.MaximumNumberOfAttachmentsAllowed > model.Attachments.length" class="btn btn--secondary" ng-click="addAttachment()" data-disableonsubmit="false">Add attachment</button>
</div>
</div>
