<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <CJG.Infrastructure.ReportingService.Properties.Settings>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="CsvFilePathTemplate" serializeAs="String">
        <value>\\peter.idir.bcgov\CJG_SDSI_REPORT\ETG Referrals\participant-report-{0:yyyy-MM-dd}.csv</value>
      </setting>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="HtmlFilePathTemplate" serializeAs="String">
        <value>\\peter.idir.bcgov\CJG_SDSI_REPORT\ETG Referrals\participant-report-{0:yyyy-MM-dd}-::ParticipantFormId::.html</value>
      </setting>
    </CJG.Infrastructure.ReportingService.Properties.Settings>
  </applicationSettings>
</configuration>