<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables 
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDirectory" value="${basedir}\Logs"/>
  <variable name="logFileName" value="CJG-${shortdate}.log"/>
  <extensions>
  </extensions>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!-- Log message to event log  -->
    <!--<target xsi:type="EventLog" name="eventLog" source="FeedImporter" layout="${message}${newline}Call site: ${callsite:className=true:methodName=true}${newline}Logger: ${logger}"/>-->
    <!-- Log message to file. -->
    <target xsi:type="File" name="file" fileName="${logDirectory}/${logFileName}" concurrentWrites="false" header="----------------------------------------${newline}--${date}--${newline}----------------------------------------" layout="${date:format=HH\:mm\:ss.fff} ${level}: ${identity} ${message} ${exception:format=tostring}" footer="----------------------------------------${newline}--${date}--${newline}----------------------------------------"/>
    <!-- Log message to file. -->
    <!-- Log message to database -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--<logger name="*" minlevel="Error" writeTo="eventlog" />-->
  </rules>
</nlog>
