<div class="form__group">
    <div class="form__label">Training Title:</div>
    <div class="form__control">
        {{program.CourseTitle}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Training start date:</div>
    <div class="form__control">
        {{toPST(program.StartDate)}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Training end date:</div>
    <div class="form__control">
        {{toPST(program.EndDate)}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Primary Delivery method:</div>
    <div class="form__control">
        <ul ng-if="program.DeliveryMethods != null && program.DeliveryMethods.length > 0">

            <li ng-repeat="method in program.DeliveryMethods">
                {{method.Caption}}
            </li>
        </ul>
    </div>
</div>
<div class="form__group">
    <div class="form__label">Total training hours:</div>
    <div class="form__control">
        {{program.TotalTrainingHours}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Training skill focus:</div>
    <div class="form__control">
        {{program.EligibleExpenseBreakdown}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Skills Development:</div>
    <div class="form__control">
        {{program.SkillLevel.Caption}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Essential Skills Type:</div>
    <div class="form__control">
        {{program.ServiceLineBreakdown}}
    </div>
</div>
<div id="applicableQualificationFields" ng-if="program.TitleOfQualification != null">
    <div class="form__group">
        <div class="form__label">Certificates, qualifications, or credential expected:</div>
        <div class="form__control">
            {{program.TitleOfQualification}}
        </div>
    </div>
</div>
<div class="form__group">
    <div class="form__label">Total Cost:</div>
    <div class="form__control">
        {{program.TotalCost | currency : '$' : 2}}
    </div>
</div>
<div class="heading-group">
    <h4 class="light">> Training Provider: {{program.AssociatedProvider.Name}}</h4>
</div>

<div class="form--readonly">
    <div class="form__group">
        <div class="form__label">Training provider name:</div>
        <div class="form__control">
            {{program.AssociatedProvider.Name}}
        </div>
    </div>
    <div class="form__group">
        <div class="form__label">Training provider type:</div>
        <div class="form__control form__long-select">
            <div ng-if="program.AssociatedProvider.TrainingProviderType != null">
                {{program.AssociatedProvider.TrainingProviderType.Caption}}
            </div>
        </div>
    </div>
</div>
<div ng-show="program.AssociatedProvider.ProofOfQualificationsDocument != null">
    <div class="form__group">
        <div class="form__label">Proof of instructor qualifications from training provider:</div>
        <div class="form__control">
            <div ng-if="program.AssociatedProvider.ProofOfQualificationsDocument != null">
                <a href="/Ext/training/provider/{{program.AssociatedProvider.Id}}/attachment/download/{{program.AssociatedProvider.ProofOfQualificationsDocument.Id}}">{{program.AssociatedProvider.ProofOfQualificationsDocument.FileName}}{{program.AssociatedProvider.TrainingProvider.ProofOfQualificationsDocument.FileExtension}}</a>
            </div>
            <div ng-if="program.AssociatedProvider.ProofOfQualificationsDocument == null">
                <span>None</span>
            </div>
        </div>
    </div>
</div>
<div ng-show="program.AssociatedProvider.CourseOutlineDocument != null">
    <div class="form__group">
        <div class="form__label">Course outline including defined instructional objectives, delivery method and assessment methods:</div>
        <div class="form__control">
            <div ng-if="program.AssociatedProvider.CourseOutlineDocument != null">
                <a href="/Ext/training/provider/{{program.AssociatedProvider.Id}}/attachment/download/{{program.AssociatedProvider.CourseOutlineDocument.Id}}">{{program.AssociatedProvider.CourseOutlineDocument.FileName}}{{program.AssociatedProvider.CourseOutlineDocument.FileExtension}}</a>

            </div>
            <div ng-if="program.AssociatedProvider.CourseOutlineDocument == null">
                <span>None</span>
            </div>
        </div>
    </div>
</div>
<div class="form__group">
    <div class="form__label">Training address:</div>
    <div class="form__control">
        {{program.AssociatedProvider.AddressLine1}}<br />
        <div ng-if="program.AssociatedProvider.AddressLine2 != null">
            {{program.AssociatedProvider.AddressLine2 }} <br />
        </div>
        {{program.AssociatedProvider.City}}<br />
        <div ng-if="program.AssociatedProvider.Region != null">
            {{program.AssociatedProvider.Region }} <br />
        </div>
        {{program.AssociatedProvider.PostalCode}}<br />
        {{program.AssociatedProvider.Country}}
    </div>
</div>

<div class="form__group">
    <div class="form__label">Training Provider address:</div>
    <div class="form__control">
        {{program.AssociatedProvider.AddressLine1TrainingProvider}}<br />
        <div ng-if="program.AssociatedProvider.AddressLine2TrainingProvider != null">
            {{program.AssociatedProvider.AddressLine2TrainingProvider }} <br />
        </div>
        {{program.AssociatedProvider.CityTrainingProvider}}<br />
        <div ng-if="program.AssociatedProvider.RegionTrainingProvider != null">
            {{program.AssociatedProvider.RegionTrainingProvider }} <br />
        </div>
        {{program.AssociatedProvider.PostalCodeTrainingProvider}}<br />
        {{program.AssociatedProvider.CountryTrainingProvider}}
    </div>
</div>

<div class="form__group">
    <div class="form__label">Contact first name:</div>
    <div class="form__control">
        {{program.AssociatedProvider.ContactFirstName}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Contact last name:</div>
    <div class="form__control">
        {{program.AssociatedProvider.ContactLastName}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Contact email:</div>
    <div class="form__control">
        {{program.AssociatedProvider.ContactEmail}}
    </div>
</div>
<div class="form__group">
    <div class="form__label">Contact phone number:</div>
    <div class="form__control">
        {{program.AssociatedProvider.ContactPhoneNumber}}
        <span ng-show="program.AssociatedProvider.ContactPhoneExtension">
            Ext. {{program.AssociatedProvider.ContactPhoneExtension}}
        </span>
    </div>
</div>
<div style="{{program.AssociatedProvider.TrainingOutsideBC == true ? 'display: block' : 'display: none'}}">
    <div class="form__group">
        <div class="form__label">Business case:</div>
        <div class="form__control">
            <div ng-if="program.AssociatedProvider.BusinessCaseDocument != null">
                <a href="/Ext/training/provider/{{program.AssociatedProvider.Id}}/attachment/download/{{program.AssociatedProvider.BusinessCaseDocument.Id}}">{{program.AssociatedProvider.BusinessCaseDocument.FileName}}{{program.AssociatedProvider.BusinessCaseDocument.FileExtension}}</a>
            </div>
            <div ng-if="program.AssociatedProvider.BusinessCaseDocument == null">
                <span>None</span>
            </div>
        </div>

    </div>
</div>
