<div ng-controller="ApplicationNotes" show="true">
    <h3 ng-click="show($event)">Notes</h3>
    <div ng-show="section.grantApplicationId">
        <select ng-model="note.NoteTypeId"
                ng-options="item.Id as item.Description for item in noteTypes | filterExistNoteTypes : noteTypes : model.Notes"
                style="display:inline-block; width:49%"
                ng-change="noteFilterChange()">
            <option value="">- Type -</option>
        </select>
        <select ng-model="note.CreatorId"
                ng-options="item.CreatorId as item.CreatorName for item in noteUsers"
                style="display:inline-block; width:49%"
                ng-change="noteFilterChange()">
            <option value="">- User -</option>
        </select>
    </div>
    <div class="notes-list">
        <div ng-repeat="note in model.filterNotes">
            <div class="notes-list__item" ng-click="openNote($event, note);" title="{{note.Caption}}">
                <div class="notes-list__caption"><abbr title={{note.NoteTypeDescription}}>{{note.NoteTypeCaption}}</abbr></div>
                <div class="notes-list__date">{{toPST(note.DateAdded, 'YYYY-MM-DD h:mm:ss a')}}</div>
                <div class="notes-list__owner" ng-if="note.CreatorName">{{note.CreatorName}}</div>
                <div class="notes-list__content" ng-bind-html="note.Content | unsafe"></div>
                <div class="notes-list__attachment" ng-if="note.AttachmentId">
                    <a class="link" title="download" ng-click="downloadAttachment($event, note.Id, note.AttachmentId)">{{note.AttachmentFileName}}</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="section.grantApplicationId">
        <input class="pull-right btn btn--primary" type="button" value="Add Note" ng-if="section.showAdd" ng-click="addNote();" />
    </div>
</div>