<div>
	<div class="dialog-header">
		<h3>{{ngDialogData.title}}</h3>
	</div>
	<div class="dialog-content">
		<div class="form well">
			<div ng-if="alert.message" class="row row--alert">
				<div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
			</div>

			<div class="form__group" ng-if="ngDialogData.note.CreatorName">
				<div class="form__label">Name</div>
				<div class="form__control">{{ngDialogData.note.CreatorName}}</div>
			</div>
            <div class="form__group">
                <div class="form__label">Date</div>
                <div class="form__control">{{toPST(ngDialogData.note.DateAdded, 'YYYY-MM-DD h:mm:ss a')}}</div>
            </div>
			<div class="form__group" id="noteTypeId">
				<div class="form__label">
					Type <abbr title="Required">*</abbr>
				</div>
				<div ng-if="ngDialogData.note.Id == 0 || ngDialogData.note.AllowEdit" class="form__control selectmenu" ng-validation="errors.NoteTypeId">
					<select ng-model="ngDialogData.note.NoteTypeId" 
							ng-options="item.Id as item.Description for item in ngDialogData.noteTypes | filter: {IsSystem:'false'}" 
							class="input--full"></select>
				</div>
				<div class="form__control" ng-if="ngDialogData.note.Id != 0 && !ngDialogData.note.AllowEdit">
					{{ngDialogData.note.NoteTypeDescription}}
				</div>
			</div>
			<div class="form__group">
				<div class="form__label">
					Comment <abbr title="Required">*</abbr>
				</div>
				<div class="form__control" ng-if="ngDialogData.note.AllowEdit">
					<textarea ng-model="ngDialogData.note.Content" class="input--full textarea--short"
							  style="border-top-color: #A9A9A8" ng-validation="errors.Content"></textarea>
				</div>
				<div class="form__control" ng-if="!ngDialogData.note.AllowEdit" ng-bind-html="ngDialogData.note.Content"></div>
			</div>
			<div class="form__group">
				<div class="form__label">Attachment</div>
				<div ng-if="ngDialogData.note.AttachmentId != null" class="form__control">
					<a target="_blank" href="/Int/Application/Note/{{ngDialogData.note.Id}}/Download/{{ngDialogData.note.AttachmentId}}">{{ngDialogData.note.AttachmentFileName}}</a>
					<p ng-if="ngDialogData.note.AttachmentDescription" ng-bind-html="ngDialogData.note.AttachmentDescription"></p>
					<button ng-if="ngDialogData.note.AllowEdit && ngDialogData.note.Id != null" class="btn btn--secondary pull-right" ng-click="deleteAttachment()">Remove</button>&nbsp;
					<button ng-if="ngDialogData.note.AllowEdit" class="btn btn--secondary pull-right" ng-click="changeAttachment()">Change</button>&nbsp;
				</div>
				<div ng-if="ngDialogData.note.AttachmentId == null && ngDialogData.note.AllowEdit" class="form__control">
					<span>None</span>
					<button class="btn btn--primary pull-right" ng-click="addAttachment()">Upload</button>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="button-group">
				<button ng-if="!ngDialogData.note.AllowEdit" class="btn btn--secondary pull-left" ng-click="closeThisDialog();">Cancel</button>
				<button ng-if="ngDialogData.note.AllowEdit && ngDialogData.note.Id" class="btn btn--danger btn--secondary" ng-click="deleteNote();">Delete</button>
				<button ng-if="ngDialogData.note.AllowEdit || ngDialogData.note.Id === 0" class="pull-right btn btn--primary" ng-click="saveNote();">Save</button>
			</div>
		</div>
	</div>
</div>
