@model CJG.Web.External.Areas.Ext.Models.AboutViewModel
@{
    ViewBag.Title = "Debug";
}

<div>
    @Html.LabelFor(m => m.Now): @Model.Now
</div>
<div>
    @Html.LabelFor(m => m.Version): @Model.Version
</div>