@model CJG.Core.Entities.TrainingProgram
<h1>Add more item to Claim Assessment!</h1>
@*<div class="selectmenu">@Html.DropDownList("EligibleExpenseTypeId", new SelectList(Model.EligibleExpenseTypes.OrderBy(x => x.Description), "Id", "Description"), new { @class = "js-expense-type" })</div>*@
