@import 'forms-selectmenu';

::-ms-clear {
  @if $hide-ms-clear == true {
    display: none;
  }
}

fieldset {
  padding: gap(2);
  margin: 0 0 gap(2) 0;
}

input[type=text],
input[type=password],
input[type=inline],
input[type=email],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  @include font-size($forms-control-font-size);
  background-color: $forms-control-background-color;
  color: $forms-control-color;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: $forms-border-color;
  border-radius: $forms-border-radius;
  //min-height: $forms-control-min-height;
  padding: $forms-control-padding;

  &::placeholder {
    color: $forms-control-placeholder-color;
  }

  &:focus {
    border-color: $forms-border-color-focus;
    outline: none;
  }

  &.input-validation-error {
    border-color: $forms-error-color;
  }

  &[disabled] {
    opacity: .65;
  }

  .layout-internal & {
    padding: $forms-control-padding / 2;
    font-size: $font-size-xs;
    height: 30px;
    padding: 5px;
  }

  .layout-internal & {
    font-size: $font-size-table
  }

  .dataTables_filter &,
  #select-training-provider & {
    height: 30px;
    padding: 0 5px;
    font-size: $font-size-xs;
  }
}

textarea {
  width: 100%;
  min-height: 22em;
  resize: none;
  vertical-align: top;
  border-color: #A8A8A8;

  &.k-invalid {
    border-color: $forms-error-color;
  }

  .k-window & {
    min-height: 150px;
  }

  &.copy-box--small {
    min-height: 4em;
  }

  &.copy-box--med {
    min-height: 8em;
  }
}

.textarea--short {
  min-height: 10em;
}

.textarea--medium {
  min-height: 20em;
}

.textarea--large {
  min-height: 30em;
}

.k-widget textarea {
  box-sizing: border-box;
}

input[type=checkbox],
input[type=radio] {
  border: 0;
  outline: none;
  outline-offset: 2px;
  padding: 0;
  vertical-align: middle;

  & + label,
  & + input[type=hidden] + label {
    @include font-size($forms-label-font-size);
    display: inline-block;
    padding-left: 5px;
    position: relative;
    top: -3px;
    user-select: none;
    left: auto !important;
  }
}

input[type=checkbox], input[type=radio] {
  height: $forms-checkbox-height;
  width: $forms-checkbox-width;
  min-width: $forms-checkbox-width;
  min-height: $forms-checkbox-height;
}

// TODO: Add custom checkboxes/radios later if needed
// The addition of `& + input[type=hidden] + label` is a workaround for how .Net Razor outputs checkboxes.

input[type=checkbox],
input[type=radio] {
  appearance: none;
  border: 0;
  border-color: $forms-border-color;
  opacity: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
  position: absolute;

  & + label,
  & + input[type=hidden] + label {
    @include font-size($forms-label-font-size);
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
  }
}


input[type=checkbox] {
  @include element-invisible;
  height: $forms-checkbox-height;
  width: $forms-checkbox-width;
  min-width: $forms-checkbox-width;
  min-height: $forms-checkbox-height;

  & + label,
  & + input[type=hidden] + label {
    background: url(#{$forms-checkbox-image-default}) no-repeat 0 2px;
    // background-size: $forms-checkbox-width $forms-checkbox-height;
    line-height: $forms-checkbox-label-line-height;
    padding-left: $forms-checkbox-label-padding-left;
    // Not required due to element-invisible
    // left: ($forms-checkbox-width) * -1;
  }

  &:disabled + label,
  &:disabled + input[type=hidden] + label {
    background-image: url(#{$forms-checkbox-image-disabled});
  }
  // &:focus + label,
  // &:focus + input[type=hidden] + label {
  //   background-image: inline(#{$forms-checkbox-image-focus});
  // }
  &:checked + label,
  &:checked + input[type=hidden] + label {
    background-image: url(#{$forms-checkbox-image-checked});
  }

  &:checked:disabled + label,
  &:checked:disabled + input[type=hidden] + label {
    background-image: url(#{$forms-checkbox-image-checked-disabled});
  }
  // &:checked:focus + label,
  // &:checked:focus + input[type=hidden] + label {
  //   background-image: inline(#{$forms-checkbox-image-checked-focus});
  // }
}

input[type=radio] {
  height: $forms-radio-height;
  width: $forms-radio-width;

  & + label {
    background: url(#{$forms-radio-image-default}) no-repeat 0 50%;
    // background-size: $forms-radio-width $forms-radio-height;
    line-height: $forms-radio-label-line-height;
    padding-left: $forms-radio-label-padding-left;
    // inline-block produces about a 4px gap between elements
    left: ($forms-radio-width + 4) * -1;
  }

  &:disabled + label {
    background-image: url(#{$forms-radio-image-disabled});
  }

  &:checked + label {
    background-image: url(#{$forms-radio-image-checked});
  }

  &:checked:disabled + label {
    background-image: url(#{$forms-radio-image-checked-disabled});
  }
  // &:checked:focus + label {
  //   background-image: inline(#{$forms-radio-image-checked-focus});
  // }
}

.input--small, .input--medium, .input--full {
  width: 100%;
}

.input-xx-small {
  width: 50px;
}

.currency-width {
  width: 115px;
}

@include media-breakpoint-up(md) {
  .input--x-small {
    min-width: 80px;
    text-align: right;

    &.k-numerictextbox {
      width: 80px;
      text-align: right;
    }
  }

  .input--small {
    width: 90px;

    &.k-numerictextbox {
      width: 175px;
    }
  }

  .currency-width {
    width: 115px;
  }

  .currency-width-wide {
    width: 130px;
  }


  .input-xx-small {
    width: 50px;
  }

  .input--medium {
    width: 300px;
  }

  .input--full {
    width: 100%;
  }
}

.work-queue-filter-input.input--medium {
  height: 30px;
  padding-left: 0px;
}

.form__section {
  width: 100%;
}

.form__section--hidden {
  display: none;
  // border: 1px solid #FF0000;
}

.form__group {
  margin-bottom: gap(2);

  .form__label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form__control {
    @include clearfix;
    display: block;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    // display: flex;
    // align-items: baseline;
    .form__label {
      // padding-right: 20px;
      // width: 160px;
      // width: 200px;
      flex-shrink: 0;
    }

    .form__label--align-top {
      align-self: flex-start;
    }

    .form__control {
      // flex-grow: 1;
      width: auto;
    }
  }
}

.application-header .form__control {
  display: inline-block;

  .btn--secondary,
  .btn--primary {
    vertical-align: middle;
  }
}

.form--readonly,
.form--2-col {
  margin-bottom: gap(2);
  box-sizing: border-box;

  .col-50p {
    float: left;
    max-width: 100%;
    width: 50%;
  }

  .form__label {
    cursor: auto;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      width: auto;
    }

    abbr {
      // display: none;
    }
  }

  .form__group {
    border-bottom: 1px solid color('border');
    padding-top: gap(1);
    padding-bottom: gap(1);
    margin-bottom: 0;
    display: block;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  .btn--secondary {
    display: block;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  .form__group.without-border {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .schedule-a__control {
    width: 46%;
  }
  // .form__group + .form__group {
  //   padding-top: 0;
  //   padding-bottom: gap(1);
  // }
  // & + .form--readonly {
  //   margin-top: - gap(1);
  // }
}

.form--readonly.form--2-col, .form--2-col .form--readonly {
  column-count: 2;

  .form__group {
    border: 0;
    break-inside: avoid-column;
    margin-bottom: 0;
  }
}

.form--readonly + .heading-group {
  margin-top: 40px;
}

.form__group--tel,
.form__group--sin,
// temporary - not sure what these field types these will be.
.form__group--yearsmonths {
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: center;
    max-width: 300px;
  }
}

.form__group--multiselect {
  @include clearfix;

  & > div {
    margin-top: gap(1);

    &:first-child {
      margin-top: 0;
    }
  }

  .selectmenu {
    display: block;
    // @include media-breakpoint-up(sm) {
    //   width: calc(33.33% - 7px);
    //   margin-right: gap(1);
    //   margin-bottom: 0;
    //   float: left;
    //   box-sizing: border-box;
    //   &:last-of-type {
    //     margin-right: 0;
    //   }
    // }
  }
}

.form__group--tel-ext {
  label {
    @include media-breakpoint-down(md) {
      display: inline-block;
      font-weight: bold;
      margin: 5px 0;
    }

    @include media-breakpoint-up(md) {
      display: inline-block;
      overflow: hidden;
      margin: 0 5px;
      vertical-align: middle;
      width: 25px;
    }
  }
}

.form__group--radio-inline {
  .form__control {
    .control-wrapper > ul > li,
    label {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .control-wrapper > ul {
      padding-left: 0;
    }
  }

  .form-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.modal-content {
  .form__group--radio-inline {
    .form__control {
      .form__label,
      label {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .control-wrapper > ul {
        padding-left: 0;
      }
    }

    .form-item {
      margin-right: 10px;
      width: auto !important;
      display: inline-block !important;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}



.form__group--list {
  .form__control {
    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      align-items: baseline;
      display: flex;
      margin-bottom: 5px;
      flex-wrap: wrap;

      p {
        width: 100%;
      }
    }
  }
}

.form__group--checkbox-list {
  .form__control {
    ul {
      list-style: none;
    }

    @include media-breakpoint-up(sm) {
      ul {
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 0;
          // margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }

          label {
            padding-left: 20px;
          }
        }
      }
    }
  }
}

.field__date {
  @include media-breakpoint-up(md) {
    display: flex;
    //margin: 0 -5px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 400px;
  }

  .selectmenu {
    margin-bottom: gap(2);

    select {
      width: 100%;
      padding: 9px 20px 9px 9px
    }

    @include media-breakpoint-up(md) {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .field__date--month {
    @include media-breakpoint-up(md) {
      flex-grow: 1;
      width: auto;
    }
  }

  .field__date--day,
  .field__date--year {
    @include media-breakpoint-up(md) {
      width: 110px;
      flex-shrink: 0;
    }

    @include media-breakpoint-up(lg) {
      width: 110px;
    }
  }
}

.field-help,
.char-count-status {
  color: $forms-help-color;
  display: block;
  font-size: 90%;
  margin: 0;
  padding: 5px 0;
}

.char-count-status {
  text-align: right;
}

// Form Validation
.field-validation-error {
  color: $forms-error-color;
  display: block;
  padding: 5px 0;
}

input, select {
  &.k-valid,
  &.k-valid:hover {
    border-color: $forms-success-color;
  }

  &.k-invalid,
  &.k-invalid:hover {
    border-color: $forms-error-color;
  }
}

.confirm-box {
  .form__group {
    margin-bottom: 5px;
    padding-left: 25px;
    position: relative;

    .check-box {
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
}

.form__group--editing-below {
  border-bottom: 0 !important;

  & + form > .row {
    margin: 0 0 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.form__group--edit {
  @extend .form__group;

  form {
    @include clearfix;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
  }

  .form__label {
    font-weight: bold;
  }

  .btn {
    float: none;
  }

  .button-group {
    margin-top: 20px;
    margin-bottom: 0;

    @media (min-width: 768px) {
      float: right;
      text-align: right;
      width: 100%;
    }

    .cancel-form-group-edit {
      min-width: 160px;
    }

    .btn:last-child {
      float: none;
    }

    @media (min-width: 768px) {
      .btn--primary:last-child {
        min-width: initial;
      }
    }
  }
}

.form__group-new-end-date,
.form__group-new-start-date {
  border-bottom: 0 !important;
}

.form__group-new-end-date {
  margin-top: 10px;
}

.form__group--edit-wrapper {
  flex-grow: 1;
}

.form-item {
  @include clearfix;
  display: inline-block;
}

.int-schedule-a__form .form--readonly .form__group {
  border-bottom: 1px solid darkgray;
}

.form--readonly .form__group,
.form--2-col .form__group {
  @include clearfix;
  border-bottom: 1px solid $forms-border-color;
  word-wrap: break-word;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li:last-child {
      margin: 0;
    }
  }

  @include media-breakpoint-up(md) {
    > .form__label:nth-child(1),
    .label-desc-group {
      // float: left;
      //width:340px;
      width: 54%;
      padding-right: 50px;
      box-sizing: border-box;
    }

    > .form__control:nth-child(2) {
      float: left;
      padding-left: 20px;
      max-width: 46%;
    }
  }

  .schedule-a__label {
    width: 300px !important;
  }

  .schedule-a__control {
    padding-left: 0 !important;
  }

  .layout-internal & {
    @include media-breakpoint-up(md) {
      > .form__label:nth-child(1),
      .label-desc-group {
        width: 30%;
        padding-right: 20px;
        box-sizing: border-box;
      }

      > .form__control:nth-child(2) {
        float: left;
        padding-left: 0;
        max-width: 60%;
        width: 70%;
      }
    }
  }
}

.reconciliation-report-view {
  .form__group {
    border-bottom: 0px;
    margin-bottom: 0px;

    .form__label {
      min-width: 18%;
    }

    .form__control {
      display: inline-block;
    }
  }
}

.schedule-a-ess-sum {
  text-align: center;
  padding: 10px;
}

d {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  li.form-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form__group__wrapper {
  border-bottom: 1px solid color('border');
  padding-bottom: 15px;

  .form__group {
    .form--readonly & {
      border: none;
    }
  }

  form {
    margin-top: 30px;

    .row {
      margin: 0;
    }
  }
}

.validation-error {
  border: solid 1px color('Warning');
  border-radius: 0;
}

input.validation-error {
  border-color: color('error') !important;
}

.form__group-set {
  display: flex;

  .form__group {
    margin: auto 20px 20px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.no-border-textbox {
  border: none !important;
  box-shadow: none !important;
  background-color: white !important;
  cursor: default !important;
}

.form-word-wrap {
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-word;

  > a {
    white-space: normal;
  }
}

.tooltip {
  position: relative;

  .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    font-size: 0.9em;
    transition-delay: 0.5s;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext-large {
    width: 500px;
    left: -100px;
  }
}

$tab-background-color: #f8f8f8;
$tab-border-color: #ccc;
$tab-inactive-tab-color: #eaeaea;
$tab-blue: #38598a;

.tab {
  overflow: hidden;

  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 12px;
    transition: 0.2s;
    border: 1px solid $tab-border-color;
    background-color: $tab-inactive-tab-color;
    border-radius: 3px 3px 0px 0px;
  }

  button:hover {
    background-color: $tab-blue;
    color: white;
  }

  button.active {
    background-color: $tab-background-color;
    color: black;
  }
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin: 0 !important;
  height: 400px !important;
}

.tab-body {
  background-color: $tab-background-color;
  border: 1px solid $tab-border-color;
}

.tab-body-header {
  color: #4e4e4e;
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 2px;
  margin-top: 10px;
}

.cursor--default {
  cursor: default !important;
}

.delete-row {
  background-color: #f5cdcd !important;
  text-decoration: line-through;
}

.tab-links-error {
  background-color: #e6979799 !important;
  border: 1px solid #ff8181 !important;
}
