@media print {
  .infoTable--split-cell {
    .display-inline-block.margin-left-10 {
      display: block;
      margin-top: 5px;
      .font-weight-bold {
        width: 153px;
        font-weight: bold;
        padding-right: 10px;
      }
    }
  }
}
