%clearfix,
.clearfix {
  @include clearfix;
}

.clear-both {
  clear: both;
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

.is-hidden-on-mobile {
  display: none !important;

  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.is-hidden-beyond-mobile {
  @media (min-width: 769px) {
    display: none !important;
  }
}

.is-hidden-less-than-tablet {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.is-hidden-on-tablet-down {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.is-hidden-on-tablet-up {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.is-hidden-on-desktop {
  display: block !important;

  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.pull-right--md {
  @include media-breakpoint-up(md) {
    float: right !important;
  }
}

.print-only {
  display: none;
}

.unresolved {
  visibility: hidden;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.element-invisible,
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.element-visible {
  position: static;
  overflow: auto;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 20px;
}

.vertical-align-top {
  vertical-align: top;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  body {
    display: block;
  }
}

.row--space-between {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.half-width {
  position: relative;

  @include media-breakpoint-up(md) {
    width: 50%;
    float: left;
    vertical-align: top;
  }
}

.text-transform-none {
  text-transform: none;
}

.right-padding-0 {
  padding-right: 0 !important;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.margin-5px {
  margin: 5px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-gutter {
  margin-left: $gutter;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.no-text-transform {
  text-transform: none;
}

.no-margin {
  margin: 0;
}

.no-margin-force {
  margin: 0 !important;
}

.align-center-force {
  text-align: center !important;
}

th.align-center-force {
  padding-right: 0;
}

.no-text-transform {
  text-transform: none;
}

.error {
  color: color('error');
}

.cell-no-side-padding {
  padding: 0;
}

.display-block {
  display: block;
  overflow: hidden;
}

.panel-bar__heading {
  .notice {
    margin: 5px 0;
  }
}

.display--flex {
  display: flex;
  justify-content: space-between;
}

.font-weight-bold {
  font-weight: bold;
}

.display-none {
  display: none;
}
