<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net xdt:Transform="Replace">
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy proxyaddress="http://dev.forwardproxy.aest.gov.bc.ca" bypassonlocal="true" />
      <bypasslist>
        <add address="gws1.bceid.ca"/>
      </bypasslist>
    </defaultProxy>
  </system.net>
  <system.web>
    <httpCookies requireSSL="false" httpOnlyCookies="true" xdt:Transform="SetAttributes" />
    <authentication mode="Windows" xdt:Transform="Insert" />
    <identity impersonate="false" xdt:Transform="Insert" />
    <authorization xdt:Transform="Insert">
      <deny users="?" />
    </authorization>
    <customErrors>
      <!-- Remove the 401 status code since it gets triggered the the WindowsAuth user login challenge and causes a circular 401 -->
      <error statusCode="401" redirect="/Error/Unauthorized" xdt:Locator="Match(statusCode)" xdt:Transform="Remove" />
    </customErrors>
  </system.web>
  <location path="Ext/Auth/LogIn" xdt:Transform="Insert">
    <system.web>
      <authorization>
        <allow roles="#{server-access-roles}" />
        <allow users="#{server-access-users}" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Int/Auth/LogIn" xdt:Transform="Insert">
    <system.web>
      <authorization>
        <allow roles="#{server-access-roles}" />
        <allow users="#{server-access-users}" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="BCeIDWebService_Simulator" />
    <add key="EnableEmails" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTPServer" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailFromAddress" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalUserOverrideEmail" value="" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <add key="BCeIDWebService_Timeout" value="5" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="AcceptAllCertifications" value="true" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="CutOffDate" value="04/22/2020" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <httpErrors>
      <!-- Remove the 401 status code since it gets triggered the the WindowsAuth user login challenge and causes a circular 401 -->
      <remove statusCode="401" xdt:Transform="Remove" />
      <error statusCode="401" path="/Error/Unauthorized" responseMode="ExecuteURL" xdt:Transform="Remove"/>
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="https://gws1.bceid.ca/webservices/client/v9/BCeIDService.asmx" binding="basicHttpBinding" bindingConfiguration="BCeIDServiceSoap" contract="BCeID.BCeIDServiceSoap" name="BCeIDServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>