<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.net xdt:Transform="Replace">
	<defaultProxy enabled="true" useDefaultCredentials="true">
		<proxy proxyaddress="http://proxy.aved.gov.bc.ca" bypassonlocal="true" />
		<bypasslist>
		  <add address="gws1.test.bceid.ca"/>
		</bypasslist>
	</defaultProxy>
	</system.net>
	<system.web>
	  <trace enabled="false" localOnly="false" writeToDiagnosticsTrace="false" xdt:Transform="SetAttributes" />
	</system.web>
	<appSettings>
	  <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="BCeIDWebService_Simulator" />
	  <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="SiteMinderSimulatorModule_SecureAreas" />
	  <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="SiteMinderSimulatorModule_ExternalLogInPage" />
	  <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="SiteMinderSimulatorModule_InternalLogInPage" />
	  <add xdt:Transform="Insert" key="BCeIDWebServiceLogoffURL" value="https://logontest.gov.bc.ca/clp-cgi/logoff.cgi" />
	  <add xdt:Transform="Insert" key="BCeIDWebServiceLogoffReturnURL" value="https://www.workbc.ca/Employer-Resources.aspx" />
	  <add key="BCeIDWebService_Timeout" value="5" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
	  <add key="AcceptAllCertifications" value="true" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="CutOffDate" value="04/22/2020" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"  />
	</appSettings>
	<system.webServer>
	<modules>
		<add xdt:Transform="Remove" xdt:Locator="Match(name)" name="SiteMinderSimulatorModule" />
	</modules>
	<rewrite xdt:Transform="Insert">
		<rules>
		<rule name="BlockLogInPage" patternSyntax="Wildcard" stopProcessing="true">
			<match url="*" />
			<conditions>
			  <add input="{URL}" pattern="/Ext/Auth/LogIn" />
			</conditions>
			<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="This page is not available." />
		</rule>
		<rule name="BlockInternalLogInPage" patternSyntax="Wildcard" stopProcessing="true">
			<match url="*" />
			<conditions>
			  <add input="{URL}" pattern="/Int/Auth/LogIn" />
			</conditions>
			<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="This page is not available." />
		</rule>
		</rules>
	</rewrite>
	</system.webServer>
</configuration>