@using CJG.Core.Entities
<div ng-controller="EmploymentProvider" provider-index="{{$index}}">
	<span class="panel-section-item">
		<span class="panel-section-title" ng-click="toggle($event)" ng-class="{ 'label--red': provider.IsChangeRequest }">
			&emsp; &gt; <span class="notice--icon" ng-if="!provider.IsValidated" title="Training Provider requires validation."></span>
			Service Provider: {{provider.Caption}} {{provider.IsChangeRequest ? 'Change Request' : ''}}
		</span>
		<span class="panel-section-buttons">
			<span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
			<span ng-if="provider.IsChangeRequest">
				<button ng-disabled="!provider.IsValidated || section.editing || !section.show || !provider.CanRecommendChangeRequest" class="btn btn--secondary btn-approve" ng-class="{ 'btn--success': provider.State === @((int)TrainingProviderStates.RequestApproved) }" ng-click="approveProvider()">For Approval</button>
				<button ng-disabled="!provider.IsValidated || section.editing || !section.show || !provider.CanRecommendChangeRequest" class="btn btn--secondary btn-deny" ng-class="{ 'btn--danger': provider.State === @((int)TrainingProviderStates.RequestDenied) }" ng-click="denyProvider()">For Denial</button>
			</span>
			<button class="btn btn--secondary" ng-if="provider.CanRemove && !section.editing && section.show" ng-disabled="parent.editing" ng-click="removeProvider()">Remove Provider</button>
			<section-edit-buttons ng-model="section.editing" ng-if="provider.CanEdit"></section-edit-buttons>
			<span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>
		</span>
	</span>
	<div class="panel-section-content" ng-if="section.show">
		<div class="form form--2-col">
			<div class="col-50p">
				<div class="form__group" ng-if="model.Id && model.TrainingProviderState != @((int)CJG.Core.Entities.TrainingProviderStates.Complete)">
					<div class="form__label">Change Request Reason:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<label>{{model.ChangeRequestReason}}</label>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Service provider name:</div>
					<div class="form__control" ng-if="!model.Id">
						<div class="control-wrapper">
							<input ng-model="model.Name" maxlength="200" ng-validation ng-editing />
						</div>
					</div>
					<div class="form__control" ng-if="model.Id">
						<div ng-if="model.IsValidated">
							<a href="/Int/Training/Provider/History/View/{{model.TrainingProviderInventoryId}}" target="_blank">{{model.Name}}</a>
						</div>
						<div ng-if="!model.IsValidated">{{model.Name}}</div>
						<div ng-if="model.IsValidated" class="label label--complete">Validated</div>
						<div ng-if="!model.IsValidated" class="label label--danger">Not validated</div>
						<div ng-if="model.CanValidate && !section.editing">
							<a class="btn btn--primary js-btn-validate-tp" style="margin-top:5px;" ng-click="showValidateView()">Validate Name</a>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Type of training provider:</div>
					<div class="form__control">
						<div class="control-wrapper selectmenu" ng-validation="errors.TrainingProviderTypeId">
							<select ng-model="model.TrainingProviderTypeId"
									ng-options="item.Key as item.Value for item in trainingProviderTypes"
									ng-change="trainingProviderTypeChange(model.TrainingProviderTypeId)"
									class="input--full" ng-editing></select>
						</div>
					</div>
				</div>
				<div id="training-provider-attachments" ng-show="model.PrivateSectorValidationType">
					<div class="form__group">
						<div class="form__label">Course outline:</div>
						<div class="form__control">
							<div class="control-wrapper" ng-validation="errors.CourseOutlineDocument">
								<a href="javascript:void(0)" ng-if="model.CourseOutlineDocument" ng-click="!model.CourseOutlineDocument.Id || downloadAttachment(model.CourseOutlineDocument.Id)">{{model.CourseOutlineDocument.FileName}}</a>
								<button ng-if="model.CourseOutlineDocument && section.editing" class="btn btn--primary pull-right" ng-click="changeAttachment('CourseOutlineDocument')">Change</button>
								<span ng-if="!model.CourseOutlineDocument">None</span>
								<button ng-if="!model.CourseOutlineDocument && section.editing" class="btn btn--primary pull-right" ng-click="addAttachment('CourseOutlineDocument')">Upload</button>
							</div>
						</div>
					</div>
					<div class="form__group">
						<div class="form__label">Proof of qualifications:</div>
						<div class="form__control">
							<div class="control-wrapper" ng-validation="errors.ProofOfQualificationsDocument">
								<a href="javascript:void(0)" ng-if="model.ProofOfQualificationsDocument" ng-click="!model.ProofOfQualificationsDocument.Id || downloadAttachment(model.ProofOfQualificationsDocument.Id)">{{model.ProofOfQualificationsDocument.FileName}}</a>
								<button ng-if="model.ProofOfQualificationsDocument && section.editing" class="btn btn--primary pull-right" ng-click="changeAttachment('ProofOfQualificationsDocument')">Change</button>
								<span ng-if="!model.ProofOfQualificationsDocument">None</span>
								<button ng-if="!model.ProofOfQualificationsDocument && section.editing" class="btn btn--primary pull-right" ng-click="addAttachment('ProofOfQualificationsDocument')">Upload</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Contact first name:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<input ng-model="model.ContactFirstName" maxlength="200" ng-validation ng-editing />
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Contact last name:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<input ng-model="model.ContactLastName" maxlength="200" ng-validation ng-editing />
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Contact email:</div>
					<div class="form__control">
						<div class="control-wrapper">
							<input ng-model="model.ContactEmail" maxlength="200" ng-validation ng-editing />
						</div>
					</div>
				</div>
				<div class="form__group">
					<div class="form__label">Contact phone number:</div>
                    <div class="form__control">
                        <div class="form__group--tel">
                            <input ng-model="model.ContactPhoneAreaCode" class="input-xx-small"
                                   maxlength="3" ng-number ng-editing 
                                   ng-class="errors.ContactPhone ? 'has-error': ''"/>
                            <span ng-class="spacer">-</span>
                            <input ng-model="model.ContactPhoneExchange" class="input-xx-small"
                                   maxlength="3" ng-number ng-editing 
                                   ng-class="errors.ContactPhone ? 'has-error': ''"/>
                            <span ng-class="spacer">-</span>
                            <input ng-model="model.ContactPhoneNumber" class="input-xx-small"
                                   maxlength="4" ng-number ng-editing
                                   ng-class="errors.ContactPhone ? 'has-error': ''"/>
                            <span ng-class="spacer" ng-if="section.editing || model.ContactPhoneExtension">Ext</span>
                            <input ng-model="model.ContactPhoneExtension" class="input-xx-small"
                                   maxlength="20" ng-number ng-editing 
                                   ng-class="errors.ContactPhone ? 'has-error': ''"/>
                        </div>
                        <validation ng-model="errors.ContactPhone">
                            Contact phone number must be 10-digit number
                        </validation>
                    </div>
				</div>
			</div>
			
			<div class="col-50p">
				<div class="form__group">
					<label class="form__label">Address:</label>
					<div class="form__control form-address-group">
						<div class="label-wrapper" ng-editing><label>Address line 1:</label></div>
						<div class="control-wrapper">
							<input ng-model="model.AddressLine1" class="input--medium" maxlength="250" ng-validation ng-editing />
						</div>

						<div class="label-wrapper" ng-editing><label>Address line 2:</label></div>
						<div class="control-wrapper" ng-if="section.editing || model.AddressLine2">
							<input ng-model="model.AddressLine2" class="input--medium" maxlength="250" ng-validation ng-editing />
						</div>

						<div class="label-wrapper" ng-editing><label>City:</label></div>
						<div class="control-wrapper">
							<input ng-model="model.City" class="input--medium" maxlength="250" ng-validation ng-editing />
						</div>

						<div class="label-wrapper" ng-editing><label>Province:</label></div>
						<div class="control-wrapper selectmenu" ng-validation="errors.RegionId">
							<select ng-model="model.RegionId" ng-options="item.Key as item.Caption for item in provinces" class="input--medium" ng-editing></select>
						</div>

						<div class="label-wrapper" ng-editing><label>Postal code:</label></div>
						<div class="control-wrapper">
							<input ng-model="model.PostalCode" class="input--medium" maxlength="6" ng-postal ng-validation ng-editing />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

