
<div class="data-grid-page-size" ng-if="$ctrl.pageHeader">
    <span>Show</span>
    <span class="control-wrapper">
        <span class="wrapper--dropdown selectmenu">
            <select class="form-control"
                    ng-model="$ctrl.pageSize"
                    ng-options="item for item in $ctrl.pageSizes"
                    ng-change="$ctrl.updatePager()"></select>
        </span>
    </span>
    <span>entries</span>
    <span class="pull-right" ng-if="$ctrl.pageSearch">
        <span>Search:</span>
        <span class="control-wrapper">
            <input type="text"
                   class="input--medium"
                   ng-model="$ctrl.ngKeyword"
                   ng-model-options="{ debounce: 750 }"
                   ng-change="$ctrl.updateItems()" />
        </span>
    </span>
</div>

<ng-transclude></ng-transclude>

<div ng-show="!$ctrl.items.total">There are no entries to be display</div>
<div class="dataTables_paginate paging_simple_numbers" ng-show="$ctrl.items.total">
    <span>Showing {{$ctrl.pageItemMin}} to {{$ctrl.pageItemMax}} of {{$ctrl.items.total}} entries</span>
    <span class="pull-right">
        <span class="btn btn--secondary btn-small btn--page previous"
              ng-show="$ctrl.enablePrevious"
              ng-click="$ctrl.gotoPage($ctrl.page-1)">Previous</span>
        <span>
            <a class="btn btn-small btn--page" tabindex="0"
               ng-show="$ctrl.showFirstPage"
               ng-click="$ctrl.gotoPage($ctrl.showFirstPage)">{{$ctrl.showFirstPage}}</a>
            <span class="ellipsis" ng-show="$ctrl.showFirstPage">…</span>
            <a class="btn btn-small btn--page" tabindex="0"
               ng-repeat="page in $ctrl.pages"
               ng-class="{ 'btn--current' : $ctrl.page === page }"
               ng-click="$ctrl.gotoPage(page)"
               ng-disabled="$ctrl.page === page">{{page}}</a>
            <span class="ellipsis" ng-show="$ctrl.showLastPage">…</span>
            <a class="btn btn-small btn--page" tabindex="0"
               ng-show="$ctrl.showLastPage"
               ng-click="$ctrl.gotoPage($ctrl.showLastPage)">{{$ctrl.showLastPage}}</a>
        </span>
        <span class="btn btn--secondary btn-small btn--page next"
              ng-show="$ctrl.enableNext"
              ng-click="$ctrl.gotoPage($ctrl.page+1)">Next</span>
    </span>
</div>
