@{
    ViewBag.Title = "Prioritization Thresholds";
}

<div>
    <div class="form-section">
        <div>
            <h2 class="header__title">Prioritization Management</h2>
        </div>
    </div>
    <div class="details-block">
        <div class="panel-section-list">
            <div class="form-section" ng-controller="PrioritizationManagement">
                <div class="panel-section-item">
                    <div class="panel-section-title">
                        <h3 class="display-inline-block">Prioritization Thresholds</h3>
                    </div>
                    <div class="panel-section-buttons">
                        <span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
                        <section-edit-buttons ng-model="section.editing"></section-edit-buttons>
                    </div>
                </div>
                <div class="panel-section-content">
                    <div class="row row--alert" ng-if="alert.message">
                        <div class="alert alert--default" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
                    </div>
                    <p>Prioritization thresholds provide a way to control prioritization point assignments for Grant Applications.</p>
    
                    <div class="form form--2-col">
                        <div class="col-50p">
                            <div class="form__group">
                                <div class="form__label">Industry threshold:</div>
                                <div class="form__control">
                                    <div class="control-wrapper">
                                        <input ng-model="model.IndustryThreshold" class="input--small" maxlength="5" ng-validation ng-editing/>
                                    </div>
                                    <p>A threshold value, equal to or below which a contributing score point is received for industry</p>
                                </div>
                            </div>
                            <div class="form__group">
                                <div class="form__label">Regional threshold:</div>
                                <div class="form__control">
                                    <div class="control-wrapper">
                                        <input ng-model="model.RegionalThreshold" class="input--small" maxlength="5" ng-validation ng-editing/>
                                    </div>
                                    <p>A threshold value, equal to or above which a contributing score point is received for region</p>
                                </div>
                            </div>
                            <div class="form__group">
                                <div class="form__label">Employee count:</div>
                                <div class="form__control">
                                    <div class="control-wrapper">
                                        <input ng-model="model.EmployeeCountThreshold" class="input--small" maxlength="5" ng-validation ng-editing/>
                                    </div>
                                    <p>An employee count, equal to or below which a contributing score point is received for small business</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            @Html.Partial("_Regions")
            @Html.Partial("_Industries")
        </div>
    </div>
</div>


