@using CJG.Web.External.Areas.Ext.Controllers
@{
    ViewBag.Title = "Participant Information Form";

    bool reportedByApplicant = TempData["ReportedByApplicant"] == null ? false : (bool)TempData["ReportedByApplicant"];
    int grantProgramId = TempData["GrantProgramId"] == null ? 0 : (int)TempData["GrantProgramId"];
}

<div id="participant-info-collection">
    <div class="row">
        <div class="main">
            <h1>Participant Information Form</h1>
            @if (!reportedByApplicant)
            {
        <div id="step6-participant-info">
            <p class="subheader--step">Step 6 of 6</p>
            <h2 class="subheader">Confirmation of Completion</h2>

            @if (grantProgramId == 3)
            {
                <p>
                    You have completed the entry of your personal information as a participant in the training program.<br />
                    <br />
                    Thank you.<br />
                </p>
            }

            @if (grantProgramId == 2)
            {
                <p>
                    Thank you for providing your personal information.<br/>

                    <br/>
                    A member of the B.C.

                    <a href = "https://www.workbc.ca/Employer-Resources/BC-Employer-Training-Grant.aspx" style = "text-decoration: underline" target = "_blank" >
                        Employer Training Grant
                    </a>
                    program may contact you by email or telephone to verify information or to request additional details

                    that may be required to evaluate your employer's application or your eligibility.
                    <strong > Please respond to these requests as soon as possible.</strong >
                    If we are unable to reach you, you may be deemed ineligible.<br/>

                </p>
            }

              </div>
                }
            else
            {

                <div id="step6-participant-info">
                    <p class="subheader--step">Step 5 of 5</p>

                    <h2 class="subheader">Confirmation of Completion</h2>

                    <p>You have successfully reported the participant information for</p>

                    <p> @TempData["ParticipantName"]</p>

                    <p>The participant will appear in your participant list.</p>

                    <p>
                        If you have made an error in reporting, you may remove the participant from your participant list and all personal information for the participant will be removed from the system.
                    </p>

                    <p>
                        <b>Always use secure destruction methods for disposing of hardcopy forms containing personal information.</b>
                    </p>

                    <br />
                    <a type="button" class="btn btn--primary" href="@Url.Action(nameof(ParticipantReportingController.ParticipantReportingView), nameof(ParticipantReportingController).Replace("Controller", ""), new { Area = "Ext", grantApplicationId = @TempData["ParticipantGrantApplicationId"] })">Done</a>

                    <br /><br />

                </div>
            }

        </div>


    </div>
</div>
