@{
    ViewBag.Title = "Participant information";
}

<div id="participant-info-collection">
    <div class="row">
        <div class="main">
            <h1 class="header__title sentence--case">Participant information</h1>

            <p>Thank you for providing your personal information.</p>
            <p>A member of the <a href="https://www.workbc.ca/find-loans-and-grants/industry-and-employers/bc-employer-training-grant/whats-new" target="_blank">B.C. Employer Training Grant</a> program may contact you by email or telephone to verify information or to request additional details. Please respond to these requests as soon as possible. If we are unable to reach you, you may be deemed ineligible.</p>
        </div>
    </div>
</div>
