@{
    ViewBag.Title = "Participant Information Form";
}

<div id="participant-info-collection">
    <div class="row">
        <div class="main">
            <h1>Participant Information Form</h1>
            <div id="step9-participant-info">
                <p class="subheader--step">Step 6 of 6</p>
                <h2 class="subheader">Confirmation of Exit without consent</h2>

                <p>
                    Your information has been erased and you will not be included for any benefits under the grant for attending this training.<br />
                    <br />
                    Thank you.<br />
                </p>
            </div>
        </div>
    </div>
</div>
