@{
    ViewBag.Title = "Participant Information Form";
}

<div id="participant-info-collection">
    <div class="row">
        <div class="main">
            <h1>Participant Information Form</h1>
            <div id="step9-participant-info">
                <h2 class="subheader">You have exited because you will not be attending training.</h2>

                <p>You will need to re-enter the link supplied to you for submitting your participant information if you decide to attend training.</p>

                <p>
                    Thank you.<br />
                </p>
            </div>
        </div>
    </div>
</div>
