@{
    ViewBag.Title = "The link you used has expired or is invalid";
}

<div id="participant-info-expired" class="side-padding">
    <div class="row">
        <div class="main">
            <h1 class="text-transform-none">The link you used has expired or is invalid</h1>

            <div>
                <p>Please contact the source of the link and ask about the current status of the training program and the opportunity for your participation.</p>

                <p>Thank you.</p>

                <p>Skills Training Grants</p>
            </div>
        </div>
    </div>
</div>
