@{
    ViewBag.Title = "Your session has expired";
}

<div id="participant-info-expired" class="side-padding">
    <div class="row">
        <div class="main">
            <h1 class="text-transform-none">Participant Information Form Timeout</h1>

            <div>
                <p>Your session has exceeded the time allowed.</p>

                <p>You must start again using the link provided to enter your participant information.</p>

                <p>Thank you.</p>

                <p>Skills Training Grants</p>
            </div>
        </div>
    </div>
</div>
