<div ng-controller="Attachments" ng-if="grantFile.ShowAttachments">
	<span class="panel-section-item">
		<span class="panel-section-title" ng-click="toggle($event)">Attachments</span>
		<span class="panel-section-buttons">
			<span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
			<section-edit-buttons ng-model="section.editing" ng-if="grantFile.EditAttachments"></section-edit-buttons>
			<span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>
		</span>
	</span>
	<div class="panel-section-content" ng-if="section.show">
		<div>
			<div class="notice notice--icon" ng-if="model.AttachmentGuidance">
				<div ng-bind-html="model.AttachmentGuidance" class="narrow-space-list"></div>
			</div>
			<p>Use Add Attachment below and enter a description to identify each attachment. You may attach up to {{model.AttachmentMaximum}} attachments. You may combine documents into one attachment up to 5 MB in size.</p>
			<p>Accepted file types: PDF, JPG, JPEG, PNG, GIF.</p>
		</div>

		<div>
			<div class="form__group" ng-if="model.Attachments">
				<table style="width:100%;">
					<tr ng-repeat="attachment in model.Attachments">
						<td style="width:10%;vertical-align:top">{{$index + 1}}</td>
						<td style="width:60%;vertical-align:top;word-wrap: break-word;word-break: break-all;"><a href="/Int/Application/Attachment/Download/{{grantFile.Id}}/{{attachment.Id}}">{{attachment.FileName}}</a><br />{{attachment.Description}}</td>
						<td style="vertical-align:top" ng-if="section.editing">
							<button class="btn btn--secondary pull-right margin-left-10" ng-click="removeAttachment($index)">Remove</button>
							<button class="btn btn--secondary pull-right margin-left-10" ng-click="changeAttachment(attachment)">Change</button>
						</td>
					</tr>
				</table>
			</div>
			<button ng-if="section.editing && model.AttachmentsMaximum > model.Attachments.length" class="btn btn--secondary" ng-click="addAttachment()" data-disableonsubmit="false">Add attachment</button>
		</div>

		<div id="grant-application-attachment"></div>
	</div>
</div>

<style>
	ul.k-upload-files {
		display: none;
	}

	.k-upload-selected {
		display: none !important;
	}

	.k-upload-status-total {
		display: none !important;
	}

	.narrow-space-list ul {
		margin-bottom: 0;
	}

	.narrow-space-list ul:not([class]) li {
		margin-bottom: 0;
	}
</style>
