$icon-pad: 10px;

@mixin btn-icon($icon, $position: 'right', $width: 25px, $height: 25px) {
  padding-#{$position}: $width + $icon-pad + $icon-pad;

  &:before {
    background-image: url($icon);
    background-repeat: no-repeat;
    content: ' ';
    position: absolute;
    top: 50%;
    #{$position}: $icon-pad;
    margin-top: $height * -0.5;
    height: $height;
    width: $width;
  }
}

@mixin inline-icons($icon) {
  margin: gap(1) 0;
  padding-left: 35px;
  padding-top: 5px;
  position: relative;
  display: block;

  &:before {
    background: url('#{$icon-img-path}/#{$icon}') no-repeat;
    content: ' ';
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    top: 2px;
    left: 0;
    width: 28px;
    height: 28px;
  }
}
