@model string
@{
    var model = string.IsNullOrEmpty(Model) ? "model" : Model;
}

<div ng-repeat="program in @(model).PreferencePrograms">
    <h3>{{program.Name}} {{program.IsNew ? "(NEW)" : ""}}</h3>
    <p ng-bind-html="program.Description"></p>
    <input type="checkbox" ng-model="program.IsSelected" name="program_selected_{{program.ProgramId}}" id="program_selected_{{program.ProgramId}}">
    <label for="program_selected_{{program.ProgramId}}"><b>I have interest in submitting applications for the {{program.Name}}.</b>  </label>
    <hr />
</div>
