@Html.AntiForgeryToken()
<div ng-controller="ManageGrantProgramReferences">
    <div id="grantProgramPreferences">
        <h3>
            Select Grant Program Preferences
        </h3>
        <p>
            One or more new grant programs have been implemented since your last login. Please review the program eligibility information below and use the check box to confirm your interest. You may change your preference in your user profile at any time.
        </p>
        <p>
            Your selection will vary the grant application options available on your home page.
        </p>
        @Html.Partial("_GrantProgramPreferences")
    </div>
    <div class="button-group">
        <button class="btn btn--secondary pull-left" ng-click="save()">Save and Return to Your Home Page</button>
        <button class="btn btn--secondary pull-right" onclick="window.location='/Ext/Auth/LogOut'">Logout</button>
    </div>
</div>
