@model CJG.Core.Entities.TrainingProgram

<div class="message-box clear-both">
    <span class="icon--checkmark">
        Your claim has been approved.
        Your reimbursement amount is shown below.
        <br />
        You may view the details of your claim assessment by clicking on it below.
    </span>
</div>

<div class="message-box clear-both">
    <div class="icon--denied">
        Your claim has been denied
        <br />
        You may view the details of your claim assessment by clicking on it below.
    </div>
</div>

<div class="message-box clear-both">
    <div class="icon--warning">
        Your claim has been approved and an amount owing to the Ministry is shown below.
        <br />
        You may view the details of your claim assessment by clicking on it below.
        <br />
        <strong>Instructions on how to make your payment will be sent to you by email.</strong>
    </div>
</div>