<p>We have the following information on file from BCeID. If the information is incorrect please visit <a href="https://www.bceid.ca/" target="_blank">www.BCeID.ca</a> to update your information.</p>
<p>This information will be included as your contact information in grant applications you create and submit to the Ministry.</p>
<div class="well well--dark">
    <dl class="info-list">
        <dt>Name</dt>
        <dd>{{model.UserProfileConfirmation.FirstName}} {{model.UserProfileConfirmation.LastName}}</dd>
        <dt>Business Email</dt>
        <dd>{{model.UserProfileConfirmation.EmailAddress}}</dd>
        <dt>Business Phone</dt>
        <dd>{{model.UserProfileConfirmation.PhoneNumber}}</dd>
    </dl>
</div>
