<div ng-controller="ClaimAttachments" ng-init="init()">
    <h2>View Attachments</h2>

    <div ng-if="claim.CanEditClaim">
        <p>
            Attach all receipts, paid invoices or other valid proof of payments that relate to the actual training costs you have entered for each
            eligible expense type. For each attachment, enter a description to identify what part of your claim it supports.
        </p>
        <p>
            Accepted file types: PDF, DOCX, DOC, XLSX, XLS, JPG, JPEG, PNG, GIF. Maximum file size is {{attachment.MaxUploadSize}} MB.
        </p>
    </div>

    <div>
        <div class="form__group" ng-if="model.ClaimAttachments">
            <table style="width:100%;">
                <tr ng-repeat="attachment in model.ClaimAttachments">
                    <td style="width:10%;vertical-align:top">{{$index + 1}}</td>
                    <td style="width:60%;vertical-align:top;word-wrap: break-word;word-break: break-all;">
                        <a href="/Int/Claim/Attachment/Download/{{claim.Id}}/{{claim.Version}}/{{attachment.Id}}">{{attachment.FileName}}</a>
                        <br />{{attachment.Description}}
                    </td>
                    <td style="vertical-align:top" ng-if="claim.CanEdit">
                        <button class="btn btn--secondary pull-right margin-left-10" ng-click="removeAttachment($index)">Remove</button>
                        <button class="btn btn--secondary pull-right margin-left-10" ng-click="changeAttachment(attachment)">Change</button>
                    </td>
                </tr>
            </table>
        </div>
        <button ng-if="claim.CanEdit && model.MaximumNumberOfAttachmentsAllowed > model.ClaimAttachments.length"
                class="btn btn--secondary" ng-click="addAttachment()"
                data-disableonsubmit="false">
            Add attachment
        </button>
        <div id="claim-attachment"></div>
    </div>
    <div class="clear-both">&nbsp;</div>
</div>
