@model CJG.Web.External.Areas.Int.Models.Notifications.NotificationQueuePreviewModel
@{
    ViewBag.Title = "Notification Preview";
}

<div ng-controller="NotificationTypePreview" ng-notification-template='@Html.Raw(Json.Encode(Model))'>
    <div class="row row--alert" ng-if="alert.message">
        <div class="alert alert--default" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message">
        </div>
    </div>

    <div style="position: absolute; right: 20px;">
        <div class="form__group">
            <div class="form__label">Grant Program</div>
            <div class="form__control">
                <div class="selectmenu" style="width: 100%;">
                    <select style="width: 100%;"
                            ng-model="model.GrantProgramId"
                            ng-options="item.Key as item.Value for item in grantPrograms"
                            ng-change="loadNotificationTypePreview()"></select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="form__label">Application State</div>
            <div class="form__control">
                <div class="selectmenu" style="width: 100%;">
                    <select style="width: 100%;"
                            ng-model="model.ApplicationStateInternal"
                            ng-options="item.Id as item.Caption for item in applicationStates.InternalStates"
                            ng-change="loadNotificationTypePreview()"></select>
                </div>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 200px;"></th>
                <th style="min-width: 500px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="form__label">
                        <b>Name:</b>
                    </label>
                </td>
                <td>
                    <div class="form__control">
                        <span>{{model.Name}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form__label">
                        <b>Description:</b>
                    </label>
                </td>
                <td>
                    <div class="form__control">
                        <span>{{model.Description}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form__label">
                        <b>Subject:</b>
                    </label>
                </td>
                <td>
                    <div class="form__control">
                        <span ng-bind-html="model.Subject"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form__control" style="border: solid 1px darkgray; padding: 10px; margin-top: 10px;" ng-validation="errors.EmailBody">
                        <div ng-bind-html="model.Body"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
