<div ng-controller="GrantProgramNotifications" class="form-section" ng-show="$parent.model.Id">
    <span class="panel-section-item">
        <span class="panel-section-title" ng-click="toggle($event)">Notifications</span>
        <span class="panel-section-buttons">
            <span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
            <span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>
        </span>
    </span>

    <div class="panel-section-content" ng-if="section.show">
        <div class="form form-section-container">
            <div>
                <!-- Organization dropdown -->
                <div class="form__control float-left">
                    <div>Organization</div>
                    <div class="selectmenu">
                        <select ng-model="filter.organization" ng-options="item as item for item in organizations" ng-change="applyFilter()">
                            <option value="">< All Organizations ></option>
                        </select>
                    </div>
                </div>
                <!-- Notification Type dropdown -->
                <div class="form__control float-left margin-left-10">
                    <div>Notification Type</div>
                    <div class="selectmenu">
                        <select ng-model="filter.notificationType" ng-options="item as item for item in notificationTypes" ng-change="applyFilter()">
                            <option value="">< All Notification Types ></option>
                        </select>
                    </div>
                </div>
                <!-- Status dropdown -->
                <div class="form__control float-left margin-left-10">
                    <div>Status</div>
                    <div class="selectmenu">
                        <select ng-model="filter.status" ng-options="status as status for status in statuses" ng-change="applyFilter()">
                            <option value="">< All Statuses ></option>
                        </select>
                    </div>
                </div>
            </div>
            <pager ng-filter="getNotifications" ng-page-size="[10]" ng-page-header="false">
                <div class="form-table notification-table">
                    <div class="form-table-heading">
                        <div class="form-table-cell action {{sortDirection('NotificationType.Caption')}}"
                             ng-click="sort('NotificationType.Caption')">Name</div>
                        <div class="form-table-cell action {{sortDirection('State')}}"
                             ng-click="sort('State')">Status</div>
                        <div class="form-table-cell action {{sortDirection('NotificationType.Description')}}"
                             ng-click="sort('NotificationType.Description')">Description</div>
                        <div class="form-table-cell action {{sortDirection('DateUpdated')}}"
                             ng-click="sort('DateUpdated')">Sent On</div>
                        <div class="form-table-cell"></div>
                    </div>
                    <div class="form-table-row" ng-repeat="item in $parent.$ctrl.ngItems">
                        <!-- Name -->
                        <div class="form-table-cell">{{item.Name}}</div>
                        <!-- Status -->
                        <div class="form-table-cell" title="{{item.ErrorMessage}}">{{item.Status}}</div>
                        <!-- Description -->
                        <div class="form-table-cell">{{item.Description}}</div>
                        <!-- Sent On -->
                        <div class="form-table-cell">{{item.SentOn ? toPST(item.SentOn, 'YYYY-MM-DD hh:mm a') : ''}}</div>
                        <!-- View btn -->
                        <div class="form-table-cell">
                            <button class="btn btn--secondary pull-right" ng-click="openNotificationModal(item.Id)">View</button>
                        </div>
                    </div>
                </div>
            </pager>
        </div>
    </div>
</div>
