<div ng-controller="GrantStreamApplicationAttachments" class="form-section" ng-show="model.Id">
    <span class="panel-section-item">
        <span class="panel-section-title" ng-click="toggle($event)">Application Attachments</span>
        <span class="panel-section-buttons">
            <span>
                <input type="checkbox" id="application-attachments" ng-model="model.AttachmentsIsEnabled" ng-click="changeAttachmentsEnabled()" />
                <label for="application-attachments">Application attachments enabled</label>
            </span>
            <span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
            <section-edit-buttons ng-model="section.editing"></section-edit-buttons>
            <span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>
        </span>
    </span>

    <div class="panel-section-content" ng-if="section.show">
        <div class="form-section-container">
            <p>
                You may enter applicant guidance for the attachments you allow for this grant stream. The guidance will show as an introduction to this section on the grant application.
                The internal heading will be used for the grant file section for assessors.
            </p>
        </div>
        <div class="form-section-container">
            <div class="form__group">
                <div class="label-wrapper">
                    <label class="form__label">User Guidance:</label>
                    <a class="link" ng-click="preview()">Test User Guidance</a>
                </div>
                <div class="control-wrapper">
                    <textarea ng-model="model.AttachmentsUserGuidance" rows="2" ng-validation ng-editing></textarea>
                </div>
            </div>
            <div class="form__group">
                <div class="label-wrapper">
                    <label class="form__label">Maximum Number of Attachments Permitted (0 to 50):</label>
                </div>
                <div class="control-wrapper">
                    <input type="text" ng-model="model.AttachmentsMaximum" class="input-inline-align input-right-align input--small" ng-number ng-validation ng-editing />
                </div>
            </div>
            <div class="form__group">
                <div class="label-wrapper">&nbsp;</div>
                <div class="control-wrapper">
                    <div class="form__group" ng-validation="errors.AttachmentsRequired">
                        <input type="checkbox" ng-model="model.AttachmentsRequired" id="attachments-required" ng-disabled="!section.editing" />
                        <label for="attachments-required" class="form__label">At least one attachment is mandatory</label>
                    </div>
                </div>
            </div>
            <div class="form__group">
                <div class="label-wrapper">
                    <label class="form__label">Internal Heading:</label>
                </div>
                <div class="control-wrapper">
                    <input ng-model="model.AttachmentsHeader" class="input--full" ng-disabled="!model.modifingAttachments" ng-validation ng-editing />
                </div>
            </div>
        </div>
    </div>
</div>