@using CJG.Core.Entities
<div ng-controller="GrantStreamDefinition" class="form-section" ng-show="model.Id || section.editing">
    <span class="panel-section-item">
        <span class="panel-section-title" ng-click="toggle($event)">
            Grant Stream Definition
            <strong ng-if="model.GrantProgramState !== @((int)GrantProgramStates.Implemented)"> - grant program is NOT Implemented</strong>
        </span>
        <span class="panel-section-buttons">
            <span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
            <section-edit-buttons ng-model="section.editing"></section-edit-buttons>
            <span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>
        </span>
    </span>

    <div class="panel-section-content" ng-if="section.show">
        <div class="form form-section-container">
            <div class="form__group">
                <div class="form__label">Grant stream name:</div>
                <div class="form__control">
                    <div class="control-wrapper input--full float-left">
                        <input ng-model="model.Name" class="input--medium" ng-validation ng-editing />
                    </div>
                    <div class="control-wrapper float-left">
                        <input type="checkbox" id="isActive" ng-model="model.IsActive" ng-disabled="!section.editing"/>
                        <label for="isActive" class="font-weight-bold" ng-validation="errors.IsActive">Active for use in Grant Openings</label>
                    </div>
                    <div class="control-wrapper float-left margin-left-10">
                        <input type="checkbox" id="includeDeliveryPartner" ng-model="model.IncludeDeliveryPartner" ng-disabled="!section.editing"/>
                        <label for="includeDeliveryPartner" class="font-weight-bold" ng-validation="errors.IncludeDeliveryPartner">Support Delivery Partner</label>
                    </div>
                </div>
            </div>

            <div class="form__group">
                <div class="label-wrapper">
                    <label class="form__label">Objective:</label>
                    <div><a class="link" ng-click="preview()">Test Objective</a></div>
                </div>
                <div class="form__control">
                    <div class="control-wrapper">
                        <textarea ng-model="model.Objective" rows="4" ng-validation ng-editing></textarea>
                    </div>
                </div>
            </div>

            <div class="form__group">
                <div class="form__label">Example:</div>
                <div class="control-wrapper">
                    <p>
                        See &lt;a href="https://www.workbc.ca/Employer-Resources/Canada-BC-Job-Grant/Foundational-Tranining-Stream.aspx" target="_blank"&gt;Foundation Training&lt;/a&gt; for more information.<br />
                        Paragraph Marker: &lt;p&gt;&lt;/p&gt;
                    </p>
                </div>
            </div>

            <div class="form__group">
                <div class="form__label">Reimbursement:</div>
                <div class="control-wrapper">
                    <div class="float-left">
                        <div class="font-weight-bold"">FY Participant Limit:</div>
                        <div class="control-wrapper">
                            <input type="text" ng-model="model.MaxReimbursementAmt" class="input-inline-align input-right-align" ng-currency ng-validation ng-editing />
                        </div>
                    </div>
                    <div class="float-left margin-left-10">
                        <div class="font-weight-bold">Reimbursement Rate:</div>
                        <div ng-validation="errors.ReimbursementRate">
                            <select ng-model="model.ReimbursementRate" class="input-inline-align input-right-align" style="margin-left: 20px;" ng-options="item.Key as item.Value for item in reimbursementRates" ng-editing>
                                <option value="">{{'&lt; Select Rate &gt;'}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both "></div>

            <div class="form__group">
                <div class="form__label">Intake Management:</div>
                <div class="control-wrapper">
                    <table class="table--padded">
                        <thead>
                            <tr>
                                <th class="table--font-size-16">Denied</th>
                                <th class="table--font-size-16">Withdrawn</th>
                                <th class="table--font-size-16">Reductions</th>
                                <th class="table--font-size-16">Slippage</th>
                                <th class="table--font-size-16">Cancellations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" ng-model="model.DefaultDeniedRate" class="input-right-align" ng-percent ng-validation ng-show="section.editing" />
                                    <label ng-show="!section.editing">{{model.DefaultDeniedRate | percentage:2}}</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="model.DefaultWithdrawnRate" class="input-right-align" ng-percent ng-validation ng-show="section.editing" />
                                    <label ng-show="!section.editing">{{model.DefaultWithdrawnRate | percentage:2}}</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="model.DefaultReductionRate" class="input-right-align" ng-percent ng-validation ng-show="section.editing" />
                                    <label ng-show="!section.editing">{{model.DefaultReductionRate | percentage:2}}</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="model.DefaultSlippageRate" class="input-right-align" ng-percent ng-validation ng-show="section.editing" />
                                    <label ng-show="!section.editing">{{model.DefaultSlippageRate | percentage:2}}</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="model.DefaultCancellationRate" class="input-right-align" ng-percent ng-validation ng-show="section.editing" />
                                    <label ng-show="!section.editing">{{model.DefaultCancellationRate | percentage:2}}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>These values provide default gross up rates for calculating an intake target for a grant opening.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
