<div ng-if="process.AssociatedEligibleCost.ServiceLines.length == 0">
    <br />
    <p>There are no {{process.ServiceCategoryCaption}} included in the program</p>

</div>
<div ng-if="process.AssociatedEligibleCost.ServiceLines.length > 0">
    <br />
    <p>A variety of services that support individuals as they prepare to enter or re-enter the workforce or assist them to find a better job. Examples include job search services, career counselling, and resume writing assistance.</p>
    <h4>Services to be delivered</h4>
    <div class="form--readonly" ng-if="process.AssociatedEligibleCost != null">
        <div class="form__group" ng-repeat="line in process.AssociatedEligibleCost.ServiceLines">
            <div class="form__label">{{line.Caption}}:</div>
            <div class="form__control service-line-description" ng-bind-html="line.Description">
            </div>
        </div>
        <div class="form__group">
            <div class="form__label">Total cost:</div>
            <div class="form__control">
                {{process.AssociatedEligibleCost.EstimatedCost | currency : '$' : 2}}
            </div>
        </div>
    </div>
    <div class="form--readonly">
        <br />
        <div class="k-item k-state-default" ng-repeat="provider in process.TrainingProviders" ng-if="provider.TrainingProviderState == @((int)CJG.Core.Entities.TrainingProviderStates.Complete)">
            <div class="heading-group">
                <h4 class="light"><span style="cursor: pointer;" ng-click="toggle($event)" data-toggle="show">&#9660;</span>Service Provider: {{provider.Name}}</h4>
            </div>
            <div class="form-section-details">
                <div class="form--readonly">
                    <div class="form__group">
                        <div class="form__label">Service provider name:</div>
                        <div class="form__control">
                            {{provider.Name}}
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__label">Contact first name:</div>
                        <div class="form__control">
                            {{provider.ContactFirstName}}
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__label">Contact last name:</div>
                        <div class="form__control">
                            {{provider.ContactLastName}}
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__label">Contact email:</div>
                        <div class="form__control">
                            {{provider.ContactEmail}}
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__label">Contact phone number:</div>
                        <div class="form__control">
                            {{provider.ContactPhoneNumber}}
                            <span ng-show="provider.ContactPhoneExtension">
                                Ext. {{provider.ContactPhoneExtension}}
                            </span>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__label">Service provider address:</div>
                        <div class="form__control">
                            {{provider.AddressLine1}}<br />
                            <div ng-if="provider.AddressLine2 != null">
                                {{provider.AddressLine2 }} <br />
                            </div>
                            {{provider.City}}, {{provider.Region != null ? provider.Region : "" }}, {{provider.Country}}   <br />
                            {{provider.PostalCode}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>