<div>
    <div class="dialog-header">
        <h3>{{ngDialogData.title}}</h3>
    </div>
    <div class="dialog-content">
        <div class="modal-content">
            <div ng-controller="ApplicationDetailsWithdrawView" ng-grant-application-id="@ViewBag.GrantApplicationId" ng-row-version="@ViewBag.RowVersion">
                <div ng-if="alert.message" class="row row--alert">
                    <div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
                </div>
                <div class="content--withdraw-application">
                    <p>You may withdraw your application if you have cancelled your training plan or you need to correct an error in your application.</p>
                    <p>
                        Applications are assessed on a first-come, first-served basis.
                        Priority may be given to certain streams.
                        If you need to withdraw and resubmit your application then your application will be placed at the end of the queue.
                        If your grant selection is no longer available then you will need to select a new grant before you can submit your application again.
                    </p>
                    <div class="form__group">
                        <label class="form__label form__label--align-top" for="withdraw-reason">Please provide a reason</label>
                        <div class="form__control">
                            <textarea ng-model="model.WithdrawReason" id="withdraw-reason" class="input--full" maxlength="800"></textarea>
                        </div>
                    </div>

                    <div class="button-group">
                        <button name="btnCancelWithdraw" class="btn btn--secondary" ng-click="closeThisDialog()">No, continue with application</button>
                        <button class="btn btn--primary btn--forward confirm-link pull-right" ng-disabled="!model.WithdrawReason" ng-click="withdraw()">
                            Yes, withdraw application
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



