.button-group.table--horizontal-nav {
  margin: $gutter 0;
}

.table--claim-management-dashboard {
  width: 80%;
  margin: 20px 0 0 0;

  tr {
    position: relative;

    td, th {
      border-left: none;
      border-right: none;
      padding: 15px;
      background-clip: padding-box;
    }

    .text-align-right {
      text-align: right;
    }

    td:nth-child(4n-2), td:nth-child(4n-3) {
      background-color: #f8f8f8;
    }

    td:last-child, td:nth-last-child(2) {
      background-color: #EAF2FA;
    }

    .background-color-white {
      background-color: white !important;
    }
  }

  tbody, tfoot {
    tr {
      td, th {
        text-align: left;
      }
    }
  }

  thead {
    tr {
      td, th {
        text-align: center;
      }
    }
  }

  tfoot {
    tr {
      td, th {
        font-weight: bold;
      }
    }
  }

  .row--reservation {
    th, td {
      padding-top: $gutter * 1.5;
    }
  }

  .with-percent-sign,
  .error {
    position: relative;
  }

  .with-percent-sign {
    right: -8px;
  }

  th {
    span.error {
      right: 0px;
    }
  }

  td.error,
  span.error {
    right: -5px;
  }
}
