.table {
  &.table--open-border {
    border: none;

    td, th {
      border: none;
      border-bottom: 2px solid #e1e1e1;
    }
  }

  &.table--tbody-border {
    border: none;

    tr:first-child {
      td {
        padding-bottom: 5px;
      }
    }

    td {
      border: none;
    }

    tbody {
      border-bottom: 2px solid #e1e1e1;

      select, .selectmenu {
        height: 40px !important;
        left: -10px;

        &:after {
          width: 40px !important;
          height: 40px !important;
          top: 50% !important;
          right: -10px;
          margin-top: -20px !important;
        }
      }
    }
  }
}

.wrapper--copy-section {
  display: flex;
  margin-bottom: 20px;
  .wrapper--btn {
    margin-top: 0;
    width: 35%;
    @include media-breakpoint-up(md) {
      width: 20%;
    }
  }
  textarea {
    // width: 85%;
    margin-left: $gutter;
    max-width: 730px;
  }
}

.wrapper--email-template {
  textarea {
    height: 25.5em;
  }
}

.wrapper--copy-link {
  textarea {
    height: 4.5em;
    min-height: 0;
  }
}

.wrapper--participant-invitation {
  margin-top: 30px;
}
