.button-group.table--horizontal-nav {
  margin: $gutter 0;
}

.table--intake-periods {
  width: 80%;
  margin: 20px 0 0 0;

  tr {
    position: relative;

    td, th {
      border-left: none;
      border-right: none;
      padding: 15px;
      background-clip: padding-box;
      text-align: left;
    }


    .text-align-center {
      text-align: center;
    }
  }
}

.intake-period-dialog-content {
  width: 600px;

  .modal-content {
    width: 600px !important;
  }
}
