// Default modal styling override

// Modal form override
.form--label-top {
  .form__group {
    display: block;

    .form__label {
      display: block;
      width: auto;
    }

    .form__control {
      display: block;
      width: 100%;
    }
  }
}

.modal-content {
  .columns {
    @include clearfix;
    margin: gap(2) 0;
  }

  .columns--two {
    .column {
      float: left;
      margin-right: 5%;
      width: 45%;

      &:last-child {
        margin-right: 0;
        width: 50%;
      }
    }
  }

  .heading-group {
    min-height: 0;

    h3, h4 {
      padding-top: 5px;
    }
  }
}

.modal-wrapper,
.modal-wrapper.k-window-content {
  padding: 20px;
}

// Kendo UI Window styling
div.k-widget.k-window {
  border-radius: 0;
  border: none;
  background: color('modalBG');

  .k-header {
    border: none;
    background: none;
    padding-top: gap(2);
  }

  .k-window-title {
    right: gap(2);
    left: gap(2);
    font-size: $font-size-medium;
    font-weight: bold;
  }

  .main-container {
    padding: 0;
    background: color('modalBG');
  }

  .k-content,
  .well {
    background: color('modalBG');
  }

  .k-window-actions {
    .k-window-action {
      padding: 5px;
      border: solid 1px transparent;

      &:hover {
        border-color: color('Ghost');
      }

      .k-i-close {
        background-image: url('#{$icon-img-path}/icon--modal-close.svg');
        background-position: 0;
      }
    }
  }
}

.content--cancel-agreement {
  padding: 0 20px;
}

.icon--loading {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  padding: 50px
}

.k-content.confirm-modal {
  padding: $gutter;
}

#select-training-provider {
  .selectmenu {
    select {
      height: 30px;
      padding: 2px 20px 2px 2px;
      line-height: $small-line-height;
      font-size: $font-size-xxs;
    }

    &:after {
      height: 30px;
      width: 30px;
      top: 0%;
      margin-top: 0px;
      right: 1px;
    }
  }
}

.modal--warning {
  @include clearfix;
}

.modal--manage-grant-stream {
  table {
    th:first-child {
      padding-left: 0;
    }

    td:first-child {
      padding-left: 0;
    }
  }

  .table--reimbursement-setting {
    th:first-child {
      padding-right: $gutter * 1.5;
    }

    .selectmenu {
      width: 100%;
    }
  }
}

.js-budget-allocation {
  width: 115px;
  text-align: right;
}

.modal--alert-popup {
  &.k-window-content {
    padding: 20px;
  }

  .btn-group {
    width: 100%;
  }
}

// Widthdraw application modal
div.k-window {
  &.k-widget {
    .content--withdraw-application {
      padding: 0 20px;

      .main {
        margin: 0;
        width: 100%;
      }
    }
  }
}

// Widthdraw claim modal
div.k-window {
  &.k-widget {
    .content--withdraw-claim {
      padding: 0 20px;

      .main {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.add-new-claim-attachment-wrapper {
  div.k-widget.k-window {
    .k-content {
      &.add-new-claim-attachment {
        padding: 0 20px 20px;

        .k-upload-selected {
          position: absolute;
          right: 20px;
          bottom: 10px;
          margin: 0;
        }

        .k-widget.k-header {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;

          .k-dropzone.file-added {
            width: 15%;
          }

          .k-upload-files {
            width: 75%;
          }
        }
      }

      .add-attachment-btn-wrapper {
        .k-header {
          button {
            display: block;
          }
        }

        .k-file {
          background: transparent;
        }
      }
    }

    .k-header {
      position: static;
    }

    .btn--cancel-file-attachment {
      display: block;
      position: absolute;
      bottom: 10px;
      left: 20px;
    }

    textarea {
      width: 100%;
    }
  }
}

.add-attachment-btn-wrapper {
  .k-header {
    button {
      // display: none;
    }
  }
}

.attachment-group {
  padding-bottom: 40px;

  .form__control {
    input[type=text] {
      width: 100%;
    }
  }
}

.k-loading-mask {
  z-index: 10009;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
}

.edit-model-modal {
  @extend .form__group;
  margin: 5px;
  padding: 5px;

  > div {
    margin-left: 15px;

    > label, > input, > div {
      margin: 5px 0 5px 0;
    }

    > label {
      @extend .form__label;
      width: 28%;
    }

    > input, .selectmenu {
      width: 55%;
    }
  }
}
