@{
    ViewBag.Title = "Contact Us";
}
<div class="main">
    <h1>Contact Us</h1>

    <h2>Business BCeID Questions and Answers</h2>

    <p>
        In order to submit an application to the Skills Training Grants System, 
        you will need to be an authorized representative of your organization and have a Business BCeID account.  
        Obtaining a Business BCeID account is simple and there is no cost. 
    </p>

    <h3>
        What do I do when...
    </h3>

    <div class="block--contact-us__accordions">
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I know my organization is registered with BCeID but I do not have a Business BCeID.
                </div>
                <div class="block--contact-us__accordion--body">
                    Contact the authorized representative in your organization that manages your Business BCeID account.
                    This person is your Business Profile Manager or Business Accounts Manager and can issue you a Business BCeID or reset your password.
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I have a Business BCeID but I have forgotten it.
                </div>
                <div class="block--contact-us__accordion--body">
                    Contact the authorized representative in your organization that manages your Business BCeID account.
                    This person is your Business Profile Manager or Business Accounts Manager and can issue you a Business BCeID or reset your password.
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I have a Business BCeID but I forget the password.
                </div>
                <div class="block--contact-us__accordion--body">
                    Contact the authorized representative in your organization that manages your Business BCeID account.
                    This person is your Business Profile Manager or Business Accounts Manager and can issue you a Business BCeID or reset your password.
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I am not the person with the authority to register our organization with BCeID.
                </div>
                <div class="block--contact-us__accordion--body">
                    Contact your manager or the appropriate department in your organization and ask that
                    an authorized representative of your organization register your organization with BCeID.
                    <br><br>
                    You must be an authorized representative of your organization to use the Skills Training Grants System.
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    My organization has never registered with BCeID.
                </div>
                <div class="block--contact-us__accordion--body">
                    An authorized representative of your organization can go to <a href="https://www.BCeID.ca" target="_blank">https://www.BCeID.ca</a> and start the registration process.
                    There is no cost for registering.
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I have a Business BCeID from my last employer.
                </div>
                <div class="block--contact-us__accordion--body">
                    You must have a Business BCeID issued to you by your current employer.
                    Contact the person in your organization that manages your Business BCeID account.  
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I have a Business BCeID issued to me by my organization.
                </div>
                <div class="block--contact-us__accordion--body">
                    Login to the system at <a href="https://skillstraininggrants.gov.bc.ca">https://skillstraininggrants.gov.bc.ca</a> and get started creating a Skills Training Grants application.
                    <br><br>
                    You must be an authorized representative of your organization to use the Skills Training Grants System
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I have a question about the Business BCeID registration process or agreement.
                </div>
                <div class="block--contact-us__accordion--body">
                    Contact the BCeID help desk identified at <a href="https://www.BCeID.ca" target="_blank">https://www.BCeID.ca</a>.
                </div>
            </div>
        </div>
        <div class="block--contact-us__accordion">
            <div class="block--contact-us__accordion--arrow"></div>
            <div class="block--contact-us__accordion--wrapper">
                <div class="block--contact-us__accordion--header">
                    I don’t know who is managing the BCeID account in our organization.
                </div>
                <div class="block--contact-us__accordion--body">
                    Contact the BCeID help desk identified at <a href="https://www.BCeID.ca" target="_blank">https://www.BCeID.ca</a>.
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>Skills Training Grants Program Links</h2>

    <p>For information on Ministry programs see the following:</p>
    <ul>
        <li><a target="_blank" href="https://www.workbc.ca/Employer-Resources/BC-Employer-Training-Grant.aspx">B.C. Employer Training Grant</a>
        </li>
        <li><a target="_blank" href="https://www.workbc.ca/Employment-Services/Community-Workforce-Response-Grant/Grant-Overview.aspx">Community Workforce Response Grant</a>
        </li>
    </ul>
    
    <h2>Any other questions – Help Desk</h2>

    <p>
        Our help desk is open from 8:30 am to 4:30 pm, Monday through Friday,
        to answer any other questions you have about how to access the Skills Training Grants System.
        The help desk is closed on statutory holidays.
    </p>

    <p>
        You can report your problem or question at <a target="_blank" href="https://www.workbc.ca/Contact-Us.aspx">https://www.workbc.ca/Contact-Us.aspx</a> by phone or email. 
    </p>
</div>