@model CJG.Web.External.Areas.Ext.Models.StreamViewModel
@{
    ViewBag.Title = "Start a New Application";
}

@using (Html.BeginForm("ApplicationStart", "Application"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="main" role="main">

            <h1 class="header--large">Start <span class="text--lowercase">a</span> new application</h1>

            <div class="notice notice--icon">
                <p><strong>Before you start:</strong> As a creator of a grant application, you must have the authority in your organization to enter into a grant agreement with the Ministry.</p>
                <p>You will be required to make such a declaration when submitting an application.</p>
                <p>
                    Note: If you intend to participate in training under this grant application but you are not an owner or co-owner of the business then you may not submit the application.
                    Have the owner or co-owner of the business submit the application.
                </p>
            </div>

            @Html.Partial("_Streams", Model)

            <div class="button-group">
                @Html.Button("Cancel",
                               new { @class = "btn btn--secondary",
                                   @onclick = "window.location='"+ @Url.Action("Index", "Home", null) + "'"})
                <button type="submit" class="btn btn--primary btn--forward">Continue</button>
            </div>
        </div>
    </div>
}
