@model CJG.Web.External.Areas.Ext.Models.ParticipantInvitationEmailViewModel
@{
    ViewBag.Title = "Get invite to send to participants";
}

<h1>Get invite to send to participants</h1>

@Html.Partial("_ParticipantInvitationEmailForm", Model)

