<div id="modalRecommendToDenyChangeRequest" class="container--recommend-to-deny-change-request" style="display:none;">
    <div class="content--deny-change-request well">

        <div ng-if="!model.WorkflowViewModel.ApplicationWorkflowViewModel.ReasonToDenyChangeRequest" class="alert alert--warning">
            <p>Deny reason is required</p>
        </div>

        <div>
            <p>
                <strong>Are you sure you want to deny the change request?</strong>
            </p>
            <p>
                Enter a reason for denying the change request in the box below and then click "Yes, Deny the Request" to
                confirm your decision or click "No, Don't Deny the Request" to return to the grant file. The reason will
                be added to the grant file and will be used to inform the application contact as shown below.
            </p>
            <p>
                <i>"The change request has been denied for the following reason:"</i>
            </p>
            <div class="form__group">
                <label class="form__label form__label--align-top" for="ReasonToDeny">Please provide a reason</label>
                <div class="form__control">
                    <textarea id="ReasonToDeny" class="input--full" ng-model="model.WorkflowViewModel.ApplicationWorkflowViewModel.ReasonToDenyChangeRequest" maxlength="800"></textarea>
                </div>
            </div>

            <div class="button-group">
                <input type="button" name="btnCancel" class="btn btn--secondary" value="No, Don't Deny the Request" />
                <button class="btn btn--primary btn--forward confirm-link pull-right" type="submit" name="btnSubmit" value="Yes, Deny the Request" ng-disabled="!model.WorkflowViewModel.ApplicationWorkflowViewModel.ReasonToDenyChangeRequest">
                    Yes, Deny the Request
                </button>
            </div>
        </div>

    </div>
</div>