<!-- Footer -->
<div class="footer--container">
	<div class="container">
		<div class="side-padding">
			<div class="row">
				<footer class="footer">
					<ul class="footer--links">
						@* 
						<li class="footer--links-item">
							<a class="footer--link" href="/Ext/Home">Home</a>
						</li>
						*@
                        <li class="footer--links-item">
                            <a class="footer--link" href="https://www.workbc.ca/Employer-Resources.aspx" target="_blank">About Skills Training Grants</a>
                        </li>
						<li class="footer--links-item">
							<a class="footer--link" href="https://www.workbc.ca/" target="_blank">Visit WorkBC</a>
						</li>
						<li class="footer--links-item">
							<a class="footer--link" href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a>
						</li>
						<li class="footer--links-item">
							<a class="footer--link" href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a>
						</li>
						<li class="footer--links-item">
							<a class="footer--link" href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a>
						</li>
						<li class="footer--links-item">
							<a class="footer--link" href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a>
						</li>
                        <li class="footer--links-item">
                            <a class="footer--link" href="/ContactUs/Index" target="_blank">Contact us</a>
                         
                        </li>
					</ul>
				</footer>
			</div>
		</div>
	</div>
</div>
<!-- End Footer -->