<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- NOTE: This connection string deliberately uses Integrated Security so that the Entity Framework migrations can be run without giving the website user
               permissions for things like creating and dropping tables. The websites should not use this connection string. -->
    <add xdt:Transform="Replace" name="CJG" connectionString="Data Source=STEWIE;initial catalog=ETG-PROD;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>