@using CJG.Web.External.Areas.Int.Controllers
@model CJG.Web.External.Areas.Int.Models.ParticipantInfoViewModel

<div ng-controller="ParticipantHistory" participant-id="@ViewBag.ParticipantId" class="page--training-provider-history">
    <div class="wrapper--intake-queue-datatable">
        <pager ng-if="model" ng-filter="getTrainingHistory" ng-page-size="[10, 25, 50, 100]" ng-Page-Search="false">
            <table class="form__group--data-grid">
                <thead>
                    <tr>
                        <th class="data-grid-sub-header" ng-click="changeSorting('FileNumber')"><img ng-src="{{imgSrcFileNumber}}" />File No.</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('TrainingStartDate')"><img ng-src="{{imgSrcTrainingStartDate}}" />TrainingStartDate</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('TrainingEndDate')"><img ng-src="{{imgSrcTrainingEndDate}}" />TrainingEndDate</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('TrainingStream')"><img ng-src="{{imgSrcTrainingStream}}" />TrainingStream</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('ApplicationStatus')"><img ng-src="{{imgSrcApplicationStatus}}" />ApplicationStatus</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('TrainingProvider')"><img ng-src="{{imgSrcTrainingProvider}}" />TrainingProvider</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('TrainingCourse')"><img ng-src="{{imgSrcTrainingCourse}}" />TrainingCourse</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('ApprovedGovtContribution')"><img ng-src="{{imgSrcApprovedGovtContribution}}" />ApprovedGovtContribution</th>
                        <th class="data-grid-sub-header" ng-click="changeSorting('AmountPaid')"><img ng-src="{{imgSrcAmountPaid}}" />AmountPaid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="thist in $parent.$ctrl.ngItems |orderBy:sort.column:sort.descending">
                        <td><a href="/Int/Application/Details/View/{{thist.GrantId}}" target="_blank">{{thist.FileNumber}}</a></td>
                        <td>{{thist.TrainingStartDate}}</td>
                        <td>{{thist.TrainingEndDate}}</td>
                        <td>{{thist.TrainingStream}}</td>
                        <td>{{thist.ApplicationStatus}}</td>
                        <td>{{thist.TrainingProvider}}</td>
                        <td>{{thist.TrainingCourse}}</td>
                        <td class="data-grid-right-data">{{thist.ApprovedGovtContribution}}</td>
                        <td class="data-grid-right-data">{{thist.AmountPaid}}</td>
                    </tr>
                </tbody>
            </table>
        </pager>
    </div>
</div>