@model CJG.Web.External.Areas.Int.Models.ParticipantInfoViewModel

<div class="clearfix" ng-controller="ViewParticipantInfo">
    <h2>@Model.ContactInfo.FullName</h2>

    <div class="view-participant-info--container">
        @Html.Partial("~/Areas/Int/Views/Participant/ParticipantInfo.cshtml", Model)
    </div>

    <div class="view-participant-info--container">
        <div class="k-content">
            <ul class="view-participant-info--wrapper">
                <li class="view-participant-info--tab" ng-class="{'active': !showEmployerInfo}" ng-click="toggleEmployerInfo(false)">
                    Contact and Demographic
                </li>
                <li class="view-participant-info--tab" ng-class="{'active': showEmployerInfo}" ng-click="toggleEmployerInfo(true)">
                    Employment
                </li>
            </ul>
            <div class="view-participant-info--content" ng-show="!showEmployerInfo">
                @Html.Partial("~/Areas/Int/Views/Participant/ParticipantContactInfo.cshtml", Model.ContactInfo)
            </div>
            <div class="view-participant-info--content" ng-show="showEmployerInfo">
                @Html.Partial("~/Areas/Int/Views/Participant/ParticipantEmployerInfo.cshtml", Model.EmployerInfo)
            </div>
        </div>
    </div>
</div>
