@model CJG.Web.External.Areas.Int.Models.ParticipantInfoViewModel

<div ng-controller="ParticipantHistory" participant-id="@ViewBag.ParticipantId" class="page--training-provider-history">
    <div class="wrapper--intake-queue-datatable" style="padding: 0.5em;">
        <pager ng-if="model" ng-filter="getTrainingHistory" ng-page-size="[10, 25, 50, 100]" ng-Page-Search="false">
            <table class="form__group--data-grid">
                <thead>
                <tr>
                    <th class="data-grid-sub-header" ng-click="changeSorting('FileNumber')"><img ng-src="{{imgSrcFileNumber}}" />File No.</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('TrainingStartDate')"><img ng-src="{{imgSrcTrainingStartDate}}" />Training Start Date</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('TrainingEndDate')"><img ng-src="{{imgSrcTrainingEndDate}}" />Training End Date</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('TrainingStream')"><img ng-src="{{imgSrcTrainingStream}}" />Training Stream</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('ApplicationStatus')"><img ng-src="{{imgSrcApplicationStatus}}" />Application Status</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('Eligibility')" style="min-width: 100px;"><img ng-src="{{imgSrcEligibility}}" />Eligibility</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('TrainingProvider')"><img ng-src="{{imgSrcTrainingProvider}}" />Training Provider</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('TrainingCourse')"><img ng-src="{{imgSrcTrainingCourse}}" />Training Course</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('ApprovedGovtContribution')"><img ng-src="{{imgSrcApprovedGovtContribution}}" />Approved Gov't Contribution</th>
                    <th class="data-grid-sub-header" ng-click="changeSorting('AmountPaid')"><img ng-src="{{imgSrcAmountPaid}}" />Amount Paid or Owing</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trainingHistory in $parent.$ctrl.ngItems |orderBy:sort.column:sort.descending">
                    <td><a href="/Int/Application/Details/View/{{trainingHistory.GrantId}}" target="_blank">{{trainingHistory.FileNumber}}</a></td>
                    <td>{{trainingHistory.TrainingStartDate}}</td>
                    <td>{{trainingHistory.TrainingEndDate}}</td>
                    <td>{{trainingHistory.TrainingStream}}</td>
                    <td>{{trainingHistory.ApplicationStatus}}</td>
                    <td>{{trainingHistory.Eligibility}}</td>
                    <td>{{trainingHistory.TrainingProvider}}</td>
                    <td>{{trainingHistory.TrainingCourse}}</td>
                    <td class="data-grid-right-data">{{trainingHistory.ApprovedGovtContribution}}</td>
                    <td class="data-grid-right-data">{{trainingHistory.AmountPaid}}</td>
                </tr>
                </tbody>
            </table>
        </pager>
        <br/>
    </div>
</div>